<div id="post_index_user_follow_<%=@user.id%>">
    <%if current_user.present?%>
        <% pre_follow = current_user.following_users.find { |follow| follow.followee_id == current_user.id} %>
    <%end%>
    <% if pre_follow %>  
        <%= button_to user_user_follow_path(@user, pre_follow), method: :delete, remote: true do%>
            <a>Followed</a>
        <%end%> 
    <%else%>
        <%= button_to user_user_follows_path(@user), method: :post, remote: true do%>
            <a>Follow</a>
        <%end%>
    <%end%>
</div>