<div class='wellcome_user_index_container'>
	<div class='container'>
		<div class='wellcome_user_index_label'>
			<a>Wellcome, <span><%= link_to (current_user.name), user_path(current_user) %></span> hãy theo dõi ít nhất 5 chủ đề mà bạn yêu thích</a>
		</div>
		<div class='wellcome_user_index_content'>
			<%@categories.each do |category|%>
				<div class='wellcome_user_index_render'>
					<%= render category%>
				</div>
			<%end%>
		</div>

		<div class='wellcome_user_index_next'>
			<%= button_to root_path, method: :get do%>
                <a>Tiếp theo <i><%= bootstrap_icon "arrow-right-short", width: 18, height: 18%></i></a>
            <%end%> 
		</div>
	</div>
</div>