<div class="footer_block">
	<div class="container">
		<div class="footer_copyright">
	        <a>Copyright Ⓒ<%=DateTime.now.strftime("%Y")%> | Made with <i><%= bootstrap_icon "heart-fill", width: 16, height: 16%></i> in Hanoi </a>
	    </div>
	</div>
</div>