<div class="footer_block">
	<div class="container">
		<div class="footer_link">
			<ul>
				<li>
					<a href="https://pollingu.com/posts/about-us">Về chúng tôi</a>
				</li>

				<li>
					<a href="https://pollingu.com/posts/policy">Thỏa thuận sử dụng</a>
				</li>

				<li>
					<a href="https://pollingu.com/posts/security">Chính sách bảo mật thông tin</a>
				</li>

				<li>
					<a href="https://pollingu.com/posts/policy">Trợ giúp và câu hỏi thường gặp</a>
				</li>
			</ul>
		</div>
		<div class="footer_copyright">
	        <a>Copyright Ⓒ<%=DateTime.now.strftime("%Y")%> | Made with <i><%= bootstrap_icon "heart-fill", width: 16, height: 16%></i> in PollingU </a>
	    </div>
	</div>
</div>