// Append new data
$("<%=j render @post_comments %>").appendTo($("#post_show_comment_index_<%=@post.id%>"));
<%remain_item = @post_comments.total_count - (@post_comments.current_page * 10)%>
<%remain_item = "Xem thêm" + " " + remain_item.to_s + " " + "bình luận"%>

// Update pagination link
<% if @post_comments.last_page? %>
  $('#post_comment_pagination').html("<a>End</a>");
<% else %>
  $('#post_comment_pagination')
    .html("<%=j link_to_next_page(@post_comments, remain_item, :remote => true) %>");
<% end %>