// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
///////////////////////////show////////////////////////
.category_show_block{
	background-color: #f0f2f5;
	min-height: 700px;
    padding-bottom: 20px;
    padding-top: 20px;
    .category_show_name{
        a{
            font-size: 18px;
            font-weight: 600;
        }
    }
    .category_show_new{
        button{
            margin-top: 30px;
            padding: 10px;
            min-width: 150px;
            border: none;
            background-color: #5865f2;
            height: 44px;
            border-radius: 22px;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            &:focus {outline:none;}
            i{
                position: relative;
                top: -2px;
            }
        }
    }
}

///////////////////////index///////////////////////////
.category_index_container{
	background-color: #f0f2f5;
	min-height: 700px;
    padding-bottom: 20px;
    .category_index_new{
        button{
            margin-top: 30px;
            padding: 10px;
            min-width: 150px;
            border: none;
            background-color: #5865f2;
            height: 44px;
            border-radius: 22px;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            &:focus {outline:none;}
            i{
                position: relative;
                top: -2px;
            }
        }
    }
}

///////////////////////category///////////////////////////
.category_mini_index_block{
    .category_mini_index_category_avatar{
        float: left;
        display: block;
        margin-right: 10px;
        // padding-top: 5px;
        img{
            width: 77px;
            height: 77px;
            border: 1px solid #f0f2f5;
            border-radius: 5px;
            object-fit: cover;
        }
    }
    .category_mini_index_category_block{
        display: block;
        .category_mini_index_category_name_block{
            a{
                text-decoration: none;
                color: #333;
                font-weight: 600;
                font-size: 16px;
                &:hover{
                    color: #5865f2;
                };
            }
        }
    
        .category_mini_index_category_nickname_block{
            position: relative;
            top: -5px;
            span{
                color: #536471;
                font-size: 13px;
            }
        }
    
        .category_mini_index_category_follow_block{
            button{
                width: 100px;
                text-align: center;
                border: 1px solid #e0e2e5;
                border-radius: 20px;
                padding: 3px;
                font-size: 13px;
                font-weight: 600;
                &:focus {outline:none;}
            }
            .btn_highlight
            {
                button{
                    background-color: #5865f2;
                    color: #fff;
                }
            }
    
            .btn_normal{
                button{
                    border: 1px solid #5865f2;
                    background-color: #fff;
                    color: #536471;
                }
            }
        }
    }
}

.category_index_block{
    padding-top: 30px;
    .category_index_info{
        text-align: left ;
        margin-bottom: 10px;
        .category_index_name{
            float: left;
            a{
                font-size: 18px;
                font-weight: 600;
                color: #0f1419;
                text-decoration: none !important;
            }
            span{
                font-size: 14px;
                color: #536471;
            }
        }
        .category_index_show_hide_btn{
            float: right;
            border: none;
            background-color: #f0f2f5;
            color: #333;
            position: relative;
            top: -2px;
            &:hover{
                color: #5865f2;
            }
        }
    }

    .category_index_topic{
        clear: both;
    }

    .category_index_description{
        padding-left: 15px;
        padding-right: 15px;
        text-align:center ;
        clear: both;
        padding-top: 10px;
        font-size: 14px;
        color: #596976;
        min-height: 100px;
    }
}

//////////////////////////new/////////////////////////
.new_category_form
{
    background-color: #f0f2f5;
    padding-bottom: 30px;
    min-height: 900px;
    .new_category_title{
        font-size: 22px;
        font-weight: 600;
        color: #0f1419;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .new_category_section
    {
		border: 1px solid #e0e2e5;
		padding: 15px;
		border-radius: 5px;
        background-color: #fff;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        .new_category_content{
            .new_category_label{
                font-weight: 550;
                font-size: 16px;
                color: #0f1419;
                text-align: left;
            }

            .new_category_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                .new_category_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                }

                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                    &:focus{
                        border: 2px solid #5865f2;
                        border-radius: 5px;
                    }
                }

                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                }
            }
        }
    }

    .new_category_submit{
        width: 100%;
        .new_category_form_submit{
            height: 44px;
            @media screen and (max-width: 600px){
                width: 100%;
            }
            width: 150px;
            border-radius: 22px;
            padding: 6px;
            background: #5865f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #5865f2;
            }
        }
    }
}