.cke_chrome {
    border-radius: 5px;
    border: 1px solid #e0e2e5 !important;
}
.cke_top {
    border-radius: 3px 3px 0 0 !important;
    border: none !important;
    background-color: #f2f2f2 !important;
}
.cke_bottom {
    border-radius: 0 0 3px 3px !important;
    border: none !important;
}