.footer_block{
	margin-top: 20px;
	display: block;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #dddddd;
	@media screen and (max-width: 600px){
		border-left: none;
		border-right: none;
		border-top: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		border-radius: 0px;
	}
	border-radius: 5px;
	.footer_copyright{
	    a{
	        font-size: 14px;
	        color: #333;
	    }
	    text-align: left;
		@media screen and (max-width: 600px){
			text-align: center;
		}
	    font-weight: 500;
	    i{
	        font-size: 20px;
	        color: red;
	        position: relative;
	    }
	}
}