.footer_block{
	margin-top: 20px;
	@media screen and (max-width: 600px){
		margin-top: 10px;
	}
	display: block;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #dddddd;
	@media screen and (max-width: 600px){
		border-left: none;
		border-right: none;
		border-top: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		border-radius: 0px;
	}
	border-radius: 5px;
	.footer_link{
		color: #333;
		ul{
			display: block;
			margin: 0; 
			padding: 0;
			li{
				display: block;
				padding-left: 0px !important;
				padding-bottom: 5px;
				a{
					font-size: 13px;
					text-decoration: none;
					color: #333;
					i{
						font-size: 18px;
						padding-right: 5px;
					}
				}
				a:hover{
					color: #1877f2;
				}
			}
		}
	}
	.footer_copyright{
	    a{
	        font-size: 13px;
	        color: #333;
	    }
		color: #333;
	    text-align: left;
		@media screen and (max-width: 600px){
			text-align: left;
		}
	    font-weight: 500;
	    i{
	        font-size: 20px;
	        color: red;
	        position: relative;
	    }
	}
}