.footer_block{
	min-height: 50px;
	background-color: #fff;
	border-top: 1px solid #dbdbdb;
	.footer_copyright{
		padding-top: 10px;
	    a{
	        font-size: 14px;
	        color: #333;
	    }
	    text-align: center;
	    @media screen and (max-width: 600px){
	        text-align: center;
	    }
	    font-weight: 500;
	    i{
	        font-size: 20px;
	        color: red;
	        position: relative;
	    }
	}
}