/////////////////////////signed in//////
.nav_header_signed_block {
	display: block;
	background-color: #fff;
	border-bottom: 2px solid #eee;
	height: 50px;
	@media screen and (max-width: 600px){
		height: 100px;
	}
	.nav_header_signed_left_block{
		.nav_header_signed_logo{
			display: block;
			position: relative;
			padding-top: 6px;
			button{
				color: #fff;
				font-size: 20px;
				padding: 3px;
				border-radius: 5px;
				padding-left: 6px;
				padding-right: 6px;
				font-weight: 550;
				border: none;
				justify-content: center;
				background-color: #0f1419;
				&:hover{
					color: #0071e3;
				}
			}
		}

		.nav_header_signed_search_block{
			display: block;
			position: relative;
			top: 6px;
			.nav_header_signed_search_input{
				i{
					position: absolute;
					top: 5px;
					left: 8px;
					color: #444;
				}
				.form-control{
					padding-left: 40px;
					padding-right: 10px;
					width: 100%;
					font-size: 14px;
					height: 37px;
					border: 1px solid #dddddd;
					background-color: #f0f2f5;
					&:focus{
						border: 2px solid #0071e3;
						border-radius: 5px;
					}
				}
			}
		}
	}

	.nav_header_signed_right_block
	{	
		display: block;
		.nav_header_signed_right_item{
			margin-top: 11px;
			@media screen and (max-width: 600px){
				margin-top: 16px;
			}
			display: block;
			text-decoration: none !important;
			i{
				color: #444;
				&:hover{
					color: #0071e3;
					text-decoration: none !important;
				}
			}
			span{
				font-size: 11px;
				color: #fff;
				background-color: #f24e1b;
				padding-top: 2px;
				padding-bottom: 2px;
				padding-left: 5px;
				padding-right: 5px;
				border-radius: 50%;
				position: relative;
				top: -36px;
				left: 12px;
				text-decoration: none !important;
			}
			a:link{
				text-decoration: none !important;
			}
		}

		.nav_header_signed_user_avatar_small{
			display: block;
			text-align: center;
			background: none;
			border: none;
			&:focus{
				outline: none;
			}

			.user_avatar_small_img{
				position: relative;
				top: 6px;
				left: -6px;
				@media screen and (max-width: 600px){
					top: 10px;
					left: -5px;
				}
				img{
					border: 1px solid #eee;
					width: 33px;
					height: 33px;
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}

		.dropdown-menu{
			margin-top: 15px !important;
		}

		.dropdown-item{
			font-size: 14px !important;
		}

		.nav_header_user_action{
			color: #536471;
			button{
				background-color: #0071e3;
				border-radius: 5px;
				border: none;
				padding: 5px;
				padding-top: 3px;
				padding-left: 10px;
				padding-right: 10px;
				color: #fff;
			}
			i{
				position: relative;
				padding-right: 3px;
				font-size: 24px;
			}
		}
	}
}

///////////////////unsiged///////////////
.nav_header_block {
	overflow: hidden;
	background-color: #fff;
	border-bottom: 2px solid #eee;
	height: 50px;
	.nav_header_logo{
		display: block;
		position: relative;
		padding-top: 6px;
		button{
			color: #fff;
			font-size: 20px;
			padding: 3px;
			border-radius: 5px;
			padding-left: 6px;
			padding-right: 6px;
			font-weight: 550;
			border: none;
			justify-content: center;
			background-color: #0f1419;
			&:hover{
				color: #0071e3;
			}
		}
	}

	.nav_header_search_block{
		display: block;
		@media screen and (max-width: 600px){
			display: none;
		}
		margin-top: 6px;
		.nav_header_search_input{
			i{
				position: absolute;
				top: 11px;
				left: 24px;
				color: #444;
			}
			.form-control{
				padding-left: 40px;
				padding-right: 10px;
				width: 100%;
				font-size: 14px;
				height: 37px;
				border: 1px solid #dddddd;
				background-color: #f0f2f5;
				&:focus{
					border: 2px solid #0071e3;
					border-radius: 5px;
				}
			}
		}
	}

	.nav_header_search_block_moblie{
		display: none;
		@media screen and (max-width: 600px){
			display: block;
		}
		margin-left: 30px;
		margin-top: 12px;
		i{
			padding: 9px;
			border-radius: 20px;
			background-color: #dfe1e5;
			color: #444;
			&:hover{
				color: #0071e3;
			}
		}
	}

	.nav_header_right_block
	{	
		float: right;
		display: block;
		.nav_header_signup{
			@media screen and (max-width: 600px){
				display: none;
			}
			float: left;
			margin-top: 8px;
			margin-right: 10px;
			border-radius: 20px;
			padding: 5px;
			button{
				border: none;
				background-color: #fff;
			}
			a{
				color: #0071e3;
				font-weight: 600;
				text-decoration: none !important;
			}
			&:hover{
				color: #536471;
			}
		}

		.nav_header_signin{
			float: right;
			margin-top: 8px;
			display: block;
			button{
				border: none;
				border-radius: 20px;
				padding: 5px;
				padding-left: 10px;
				padding-right: 10px;
				background-color: #0071e3;
			}
			color: #fff;
			position: relative;
			font-size: 16px;
			a{
				color: #fff;
				font-weight: 600;
				text-decoration: none !important;
			}
			&:hover{
				color: #536471;
			}
		}
	}
}
