.topnav {
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #dfe1e5;
	height: 50px;
}

.topnav .nav_logo{
	float: left;
	display: block;
	top: -3px;
	position: relative;
	margin-right: 20px;
	img{
		width: 28px;
		height: 28px;
	}
	left: -15px;
	span{
		color: #fff;
		font-size: 20px;
		padding: 5px;
		border-radius: 5px;
		font-weight: 550;
		justify-content: center;
		font-family: 'Roboto', Sans-serif;
		background-color: #333;
		&:hover{
			color: #4f46e5;
		}
	}
	.rounded
	{
		/*position: relative;
		top: -2px;
		right: -10px;
		img{
			width: 33px;
			height: 33px;
			object-fit: cover;
		}*/
		display: block;
		float: left;
	}
}

.topnav a {
	float: left;
	display: block;
	color: #111;
	text-align: center;
	margin: 0;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	position: relative;
	top: 3px;
	white-space: nowrap;
	text-decoration: none !important;
	&:hover{
		color: #4f46e5;
	}
	@media screen and (max-width: 600px){
		border-bottom: 1px solid #dfe1e5;
	}
}

.topnav .post_search_input{
	width: 40%;
	float: left;
	margin-top: 6px;
	.post_search_what{
		background-color: #eef0f1;
		border: 1px solid #dfe1e5;
		width: 100%;
		border-radius: 5px;
		i{
			font-size: 20px;
			color: #888;
			float: left;
			padding-left: 10px;
		}
		.form-control{
			background-color: #eef0f1;
			padding-left: 10px;
			padding-right: 10px;
			width: 60%;
			height: 36px;
			border: none;
			box-shadow: none;
			color: #333;
			font-size: 16px;
		}
	}
}

.topnav .nav_right
{
	float: right;
	display: block;
	.nav_signup{
		span{
			border: 1px solid #111;
			border-radius: 20px;
			padding: 6px;
			&:hover{
				background-color: #4f46e5;
				color: #fff;
				border: none;
			}
		}
	}

	.nav_signin{
		display: block;
		span{
			border: none;
			border-radius: 20px;
			padding: 7px;
			background-color: #4f46e5;
			color: #fff;
			position: relative;
			top: -4px;
			font-size: 16px;
			@media screen and (max-width: 600px){
				top: -5px;
			}	
			i{
				@media screen and (max-width: 600px){
					border: none;
					padding-left: 0px;
				}
				font-size: 20px;
				position: relative;
				// top: 5px;
			}
			&:hover{
				background-color: #222;
				color: #fff;
				border: none;
			}
		}
	}

	
	.nav_new_post{
		display: block;
		span{
			border: none;
			border-radius: 20px;
			padding: 8px;
			background-color: #4f46e5;
			color: #fff;
			position: relative;
			top: -1px;
			font-size: 14px;
			font-weight: 600;
			@media screen and (max-width: 600px){
				top: -5px;
			}	
			&:hover{
				background-color: #222;
				color: #fff;
				border: none;
			}
		}
	}

	@media screen and (max-width: 600px){
		display: none;
	}	
	.user_notification{
		padding-left: 10px;
		padding-right: 10px;
		span{
			font-size: 10px;
			color: #fff;
			background-color: #f24e1b;
			padding: 1px;
			padding-left: 4px;
			padding-right: 4px;
			border-radius: 50%;
			position: relative;
			top: -25px;
		}
		float: left;
		i{
			position: relative;
			top: -12px;
			font-size: 30px;
			left: 10px;
		}
	}
	.user_avatar_small{
		float: right;
		display: block;
		text-align: center;
		background: none;
		border: none;
		&:focus{
			outline: none;
		}
		.user_avatar_small_text{
			margin-left: 5px;
			width: 32px;
			border-radius: 50%;
			padding: 5px;
			padding-left: 8px;
			padding-right: 8px;
			position: relative;
			top: 5px;
			a:link{
				color: #fee;
			}
		}
		.checked_0{
            background-color: #888;
        }
        .checked_1{
			background-color: #7a20a1;
        }
        .checked_2{
			background-color: #778f99;
        }
        .checked_3{
			background-color: #00579c;
        }
        .checked_4{
			background-color: #33691e;
        }
        .checked_5{
			background-color: #c2175b;
        }
        .checked_6{
			background-color: #00887a;
        }
        .checked_7{
			background-color: #aa47bc;
        }
        .checked_8{
			background-color: #f24e1b;
        }
        .checked_9{
			background-color: #689f39;
        }

		.user_avatar_small_img{
			position: relative;
			top: 6px;
			img{
				border: 1px solid #eee;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}

	.user_action_select{
		display: none;
		position: absolute;
		top: 66px;
		right: 8%;
		background-color: #fff;
		border: 1px solid #dfe1e5;
		border-radius: 5px;
		z-index: 10;
		width: 200px;
		padding-bottom: 10px;
		.user_action{
			color: #555;
			button{
				background-color: #fff;
				border: none;
				padding: 3px;
				padding-left: 10px;
				&:focus{
					border: none;
					background: none;
					outline: none;
				}
			}
			i{
				position: relative;
				// top: 5px;
				padding-right: 3px;
				font-size: 24px;
			}
		}
	}
}

.topnav a:hover {
	a:link{
		color: #4f46e5;
		font-weight: 550;
		text-decoration: none !important ;
	}
}


.topnav .nav_signin_moblie{
	@media screen and (min-width: 600px){
		display: none;
	}
	float: right;
	i{
		text-align: right;
		font-size: 26px;
		position: relative;
		top: -3px;
	}
	.user_notification_mobile{
		float: left;
		i{
			position: relative;
			top: -8px;
			font-size: 30px;
			left: 12px;
		}
		span{
			font-size: 10px;
			color: #fff;
			background-color: #f24e1b;
			padding-left: 3px;
			padding-right: 3px;
			border-radius: 50%;
			position: relative;
			top: -22px;
			left: 2px;
		}
	}

	.user_avatar_small_moblie{
		display: block;
		text-align: center;
		float: left;
		border: none;
		background: none;
		&:focus{
			outline: none;
		}
		.user_avatar_small_text{
			width: 32px;
			border-radius: 50%;
			padding: 5px;
			padding-left: 8px;
			padding-right: 8px;
			position: relative;
			top: 12px;
			a:link{
				color: #fee;
			}
		}
		.checked_0{
			background-color: #888;
		}
		.checked_1{
			background-color: #7a20a1;
		}
		.checked_2{
			background-color: #778f99;
		}
		.checked_3{
			background-color: #00579c;
		}
		.checked_4{
			background-color: #33691e;
		}
		.checked_5{
			background-color: #c2175b;
		}
		.checked_6{
			background-color: #00887a;
		}
		.checked_7{
			background-color: #aa47bc;
		}
		.checked_8{
			background-color: #f24e1b;
		}
		.checked_9{
			background-color: #689f39;
		}

		.user_avatar_small_img{
			position: relative;
			top: 12px;
			border: none;
			img{
				border: 1px solid #eee;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}

	.user_action_select_mobile{
		display: none;
		background-color: #fff;
		border: 1px solid #dfe1e5;
		border-radius: 5px;
		position: absolute;
		z-index: 10;
		width: 200px;
		right: 10px;
		margin-top: 58px;
		.user_action{
			color: #555;
			button{
				background-color: #fff;
				border: none;
				padding: 3px;
				padding-left: 10px;
				&:focus{
					border: none;
					background: none;
					outline: none;
				}
			}
			i{
				position: relative;
				top: 5px;
				padding-right: 3px;
				font-size: 24px;
			}
			padding-bottom: 10px;
		}
	}
}

.topnav .menu_icon {
	display: none;
}

.topnav .close_icon {
	display: none;
}

.topnav .nav_signin_mobile {
	display: none;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.menu_icon {
		float: right;
		display: block;
		font-size: 20px;
		border-bottom: none;
	}

	.topnav .nav_logo{
		float: left;
		.rounded
		{
			position: relative;
			img{
				width: 30px;
				height: 30px;
				object-fit: cover;
				@media screen and (max-width: 600px) {
					width: 28px;
					height: 28px;
				}
			}
			display: block;
			float: left;
		}
		a{
			font-size: 25px;
			display: inline;
		}
	}

	.topnav .nav_right{
		display: none;
	}

	.topnav.responsive {position: relative;}
	.topnav.responsive .menu_icon {
		display: none;
	}

	.topnav.responsive .close_icon {
		display: block;
		left: 0;
		top: 0;
	}

	.topnav.responsive .nav_signin_mobile {
		display: none;
	}

	.topnav.responsive .nav_logo {
		display: none;
	}

	.topnav.responsive .nav_right{
		display: block;
		transition: 0.5s;
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive a {
		transition: 0.5s;
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive .nav_signin_moblie
	{
		display: none;
	}
}
