.nav_block {
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #dfe1e5;
	height: 50px;
	.nav_logo{
		float: left;
		display: block;
		position: relative;
		margin-right: 3%;
		padding-top: 5px;
		button{
			color: #fff;
			font-size: 20px;
			padding: 5px;
			border-radius: 5px;
			font-weight: 550;
			border: none;
			justify-content: center;
			font-family: 'Roboto', Sans-serif;
			background-color: #444;
			&:hover{
				color: #0071e3;
			}
		}
	}

	.nav_search_block{
		margin-top: 6px;
		padding: 7px;
		padding-left: 10px;
		padding-right: 10px;
		display: block;
		border-radius: 20px;
		background-color: #dfe1e5;
		float: left;
		i{
			color: #444;
			&:hover{
				color: #0071e3;
			}
		}
	}

	.nav_right_block
	{	
		float: right;
		display: block;
		.nav_signup{
			float: left;
			margin-top: 8px;
			margin-right: 10px;
			border-radius: 20px;
			padding: 5px;
			button{
				border: none;
				background-color: #fff;
			}
			a{
				color: #0071e3;
				font-weight: 600;
				text-decoration: none !important;
			}
			&:hover{
				color: #444;
			}
		}

		.nav_signin{
			float: right;
			margin-top: 8px;
			display: block;
			button{
				border: none;
				border-radius: 20px;
				padding: 5px;
				padding-left: 10px;
				padding-right: 10px;
				background-color: #0071e3;
			}
			color: #fff;
			position: relative;
			font-size: 16px;
			a{
				color: #fff;
				font-weight: 600;
				text-decoration: none !important;
			}
			&:hover{
				color: #444;
			}
		}

		.nav_post{
			padding-top: 12px;
			display: block;
			padding-right: 20px;
			float: left;
			i{
				color: #444;
				&:hover{
					color: #0071e3;
				}
			}
		}

		.nav_tag{
			padding-top: 12px;
			float: left;
			padding-right: 10px;
			i{
				color: #444;
				&:hover{
					color: #0071e3;
				}
			}
		}

		.nav_user_notification{
			padding-top: 12px;
			padding-right: 15px;
			float: left;
			span{
				font-size: 10px;
				color: #fff;
				background-color: #f24e1b;
				padding: 1px;
				padding-left: 4px;
				padding-right: 4px;
				border-radius: 50%;
				position: relative;
				top: -25px;
				text-decoration: none !important;
			}
			i{
				color: #444;
				position: relative;
				top: -10px;
				font-size: 30px;
				left: 10px;
				&:hover{
					color: #0071e3;
				}
			}
		}

		.nav_user_avatar_small{
			float: right;
			display: block;
			text-align: center;
			background: none;
			border: none;
			&:focus{
				outline: none;
			}
			.user_avatar_small_text{
				margin-left: 5px;
				width: 32px;
				border-radius: 50%;
				padding: 5px;
				padding-left: 8px;
				padding-right: 8px;
				position: relative;
				top: 5px;
				a:link{
					color: #fee;
				}
			}
			.checked_0{
				background-color: #888;
			}
			.checked_1{
				background-color: #7a20a1;
			}
			.checked_2{
				background-color: #778f99;
			}
			.checked_3{
				background-color: #00579c;
			}
			.checked_4{
				background-color: #33691e;
			}
			.checked_5{
				background-color: #c2175b;
			}
			.checked_6{
				background-color: #00887a;
			}
			.checked_7{
				background-color: #aa47bc;
			}
			.checked_8{
				background-color: #f24e1b;
			}
			.checked_9{
				background-color: #689f39;
			}

			.user_avatar_small_img{
				position: relative;
				top: 6px;
				img{
					border: 1px solid #eee;
					width: 36px;
					height: 36px;
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}

		.user_action_select{
			display: none;
			position: absolute;
			top: 66px;
			right: 8%;
			background-color: #fff;
			border: 1px solid #dfe1e5;
			border-radius: 5px;
			z-index: 10;
			width: 200px;
			padding-bottom: 10px;
			.user_action{
				color: #555;
				button{
					background-color: #fff;
					border: none;
					padding: 3px;
					padding-left: 10px;
					&:focus{
						border: none;
						background: none;
						outline: none;
					}
				}
				i{
					position: relative;
					padding-right: 3px;
					font-size: 24px;
				}
			}
		}
	}
}
