.nav_block {
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	height: 50px;
	.nav_logo{
		float: left;
		display: block;
		position: relative;
		margin-right: 3%;
		padding-top: 5px;
		button{
			color: #fff;
			font-size: 20px;
			padding: 5px;
			border-radius: 5px;
			font-weight: 550;
			border: none;
			justify-content: center;
			background-color: #0f1419;
			&:hover{
				color: #0071e3;
			}
		}
	}

	.nav_search_block{
		display: block;
		@media screen and (max-width: 600px){
			display: none;
		}
		margin-top: 5px;
		float: left;
		width: 30%;
		.nav_search_input{
			.form-control{
				padding-left: 10px;
				padding-right: 10px;
				width: 100%;
				font-size: 14px;
				height: 40px;
				border: 1px solid #f0f0f0;
				background-color: #f0f2f5;
				&:focus{
					border: 2px solid #0071e3;
					border-radius: 5px;
				}
			}
		}
	}

	.nav_search_block_moblie{
		display: none;
		@media screen and (max-width: 600px){
			display: block;
		}
		margin-top: 6px;
		padding: 7px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 20px;
		background-color: #dfe1e5;
		float: left;
		i{
			color: #0f1419;
			&:hover{
				color: #0071e3;
			}
		}
	}

	.nav_right_block
	{	
		float: right;
		display: block;
		.nav_signup{
			float: left;
			margin-top: 8px;
			margin-right: 10px;
			border-radius: 20px;
			padding: 5px;
			button{
				border: none;
				background-color: #fff;
			}
			a{
				color: #0071e3;
				font-weight: 600;
				text-decoration: none !important;
			}
			&:hover{
				color: #536471;
			}
		}

		.nav_signin{
			float: right;
			margin-top: 8px;
			display: block;
			button{
				border: none;
				border-radius: 20px;
				padding: 5px;
				padding-left: 10px;
				padding-right: 10px;
				background-color: #0071e3;
			}
			color: #fff;
			position: relative;
			font-size: 16px;
			a{
				color: #fff;
				font-weight: 600;
				text-decoration: none !important;
			}
			&:hover{
				color: #536471;
			}
		}

		.nav_post{
			margin-top: 12px;
			display: block;
			margin-right: 20px;
			float: left;
			i{
				color: #0f1419;
				&:hover{
					color: #0071e3;
				}
			}
		}

		.nav_topic{
			padding-top: 12px;
			float: left;
			padding-right: 10px;
			i{
				color: #0f1419;
				&:hover{
					color: #0071e3;
				}
			}
		}

		.nav_user_notification{
			padding-top: 12px;
			padding-right: 15px;
			float: left;
			span{
				font-size: 10px;
				color: #fff;
				background-color: #f24e1b;
				padding: 1px;
				padding-left: 4px;
				padding-right: 4px;
				border-radius: 50%;
				position: relative;
				top: -25px;
				text-decoration: none !important;
			}
			i{
				color: #0f1419;
				position: relative;
				top: -10px;
				font-size: 30px;
				left: 10px;
				&:hover{
					color: #0071e3;
					text-decoration: none !important;
				}
			}
		}

		.nav_user_avatar_small{
			float: right;
			display: block;
			text-align: center;
			background: none;
			border: none;
			&:focus{
				outline: none;
			}

			.user_avatar_small_img{
				position: relative;
				top: 6px;
				img{
					border: 1px solid #eee;
					width: 36px;
					height: 36px;
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}

		.user_action_select{
			box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
			display: none;
			position: absolute;
			top: 55px;
			background-color: #fff;
			border: 1px solid #dddddd;
			border-radius: 5px;
			z-index: 10;
			width: 200px;
			padding-bottom: 10px;
			overflow: auto;
			.user_action{
				color: #536471;
				button{
					background-color: #fff;
					border: none;
					padding: 3px;
					padding-left: 10px;
					&:focus{
						border: none;
						background: none;
						outline: none;
					}
				}
				i{
					position: relative;
					padding-right: 3px;
					font-size: 24px;
				}
			}
		}
	}
}
