// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.page_index_container{
    background-color: #eef0f1;
    min-height: 900px;
    .home_left{
        border: 1px solid #dbdbdb;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
    }
    .home_middle{
        margin-top: 20px;
    }
    .home_right{
        border: 1px solid #dbdbdb;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
    }
}