// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home_index_container{
    background-color: #eef0f1;
    min-height: 900px;
    .home_left_block{
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
        .home_left_view_tag{
            .home_left_view_tag_title{
                font-size: 22px;
                font-weight: 600;
                display: none;
            }

            .home_left_view_tag_button{
                button{
                    padding: 5px;
                    min-width: 120px;
                    text-align: center;
                    font-size: 14px;
                    border-radius: 5px;
                    background-color: #dbdbdb;
                    border: none; 
                }
            }
        }

        .home_left_my_tag{
            margin-top: 20px;
            .home_left_my_tag_title{
                font-size: 22px;
                font-weight: 600;
            }
            .home_left_my_tag_block{
                padding-top: 5px;
                padding-bottom: 5px;
                a{
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
    .home_middle_block{
        margin-top: 20px;
        .home_new_post{
            border: 1px dashed #dbdbdb;
            background-color: #fff;
            padding: 15px;
            border-radius: 5px;
            min-height: 80px;
            .home_new_post_user_avatar{
                padding-bottom: 8px;
                float: left;
                position: relative;
                top: 5px;
                .home_new_post_user_name_label{
                    border-radius: 50%;
                    background-color: #dfe1e5;
                    padding: 7px;
                    padding-left: 12px;
                    padding-right: 12px;
                    position: relative;
                    top: 3px;
                    color: #fee;
                    text-decoration: none;
                }
            }
            .checked_0{
                background-color: #888;
            }
            .checked_1{
                .home_new_post_user_name_label{
                    background-color: #7a20a1;
                }
            }
            .checked_2{
                .home_new_post_user_name_label{
                    background-color: #778f99;
                }
            }
            .checked_3{
                .home_new_post_user_name_label{
                    background-color: #00579c;
                }
            }
            .checked_4{
                .home_new_post_user_name_label{
                    background-color: #33691e;
                }
            }
            .checked_5{
                .home_new_post_user_name_label{
                    background-color: #c2175b;
                }
            }
            .checked_6{
                .home_new_post_user_name_label{
                    background-color: #00887a;
                }
            }
            .checked_7{
                .home_new_post_user_name_label{
                    background-color: #aa47bc;
                }
            }
            .checked_8{
                .home_new_post_user_name_label{
                    background-color: #f24e1b;
                }
            }
            .checked_9{
                .home_new_post_user_name_label{
                    background-color: #689f39;
                }
            }

            .home_new_post_editor{
                margin-left: 10px;
                float: left;
                width: 80%;
                button{
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    padding: 6px;
                    background: #f3f3f3;
                    font-size: 16px;
                    border: 1px solid #dbdbdb;
                    cursor: pointer;
                    text-align: left;
                    color: #369;
                    i{
                        color: #369;
                    }
                }
            }

            .home_new_post_image{
                width: 5%;
                float: left;
                position: relative;
                top:  -5px;
                padding-left: 10px;
                button{
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    padding: 6px;
                    background: #fff;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #369;
                    i{
                        color: #369;
                    }
                }
            }

            .home_new_post_link{
                width: 5%;
                float: right;
                position: relative;
                top:  -5px;
                button{
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    padding: 6px;
                    background: #fff;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #369;
                    i{
                        color: #369;
                    }
                }
            }

        }
        .home_post_sort{
            border: 1px solid #dbdbdb;
            background-color: #fff;
            padding: 15px;
            border-radius: 5px;
            margin-top: 20px;
            .home_post_tab_link{
                overflow: hidden;
                position: relative;
                display: block;
                .nav {
                    overflow-x: auto;
                    overflow-y: hidden;
                    flex-wrap: nowrap;
                }
                .nav .nav-link {
                    white-space: nowrap;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                    i{
                        position: relative;
                        top: -3px;
                        padding-right: 3px;
                    }
                }
                .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
                    border: none;
                    color: #333;
                    font-size: 16px;
                }
                .nav .nav-link.active {
                    border-radius: 0;
                    border-bottom: 3px solid #4f46e5;
                    font-weight: 500;
                    color: #4f46e5;
                }
            }
        }
        .home_post_tab_content{
            padding-top: 20px;
        }
    }
    .home_right_block{
        border: 1px solid #dbdbdb;
        background-color: #f9fafa;
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
        .home_right_title{
            font-size: 22px;
            font-weight: 600;
            padding: 15px;
        }

        .home_right_content{
            border-top: 1px solid #dbdbdb;
            padding: 15px;
            a{
                text-decoration: none;
                color: #222;
                font-size: 16px;
                &:hover{
                    color: #1817f2;
                };
            }
        }
    }
}