// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////index///////////////////////////////
.home_index_container{
    background-color: #f0f2f5;
    min-height: 900px;
    .home_left_block{
        margin-top: 20px;
        .home_new_post{
            border: 1px dashed #dddddd;
            background-color: #fff;
            padding: 15px;
            border-radius: 5px;
            min-height: 75px;
            .home_new_post_user_avatar{
                border: none;
                float: left;
                position: relative;
                top: 3px;
                width: 7%;
                img{
                    border: 1px solid #eee;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                a{
                    color: #666;
                    font-size: 13px;
                }
            }

            .home_new_post_editor{
                width: 93%;
                @media screen and (max-width: 600px){
                    margin-left: 10px;
                    width: 85%;
                }
                float: right;
                button{
                    color: #aaa;
                    width: 100%;
                    height: 44px;
                    border-radius: 5px;
                    padding: 6px;
                    background: #f9fafa;
                    font-size: 16px;
                    font-weight: 500;
                    border: 1px solid #dddddd;
                    cursor: pointer;
                    text-align: left;
                    i{
                        color: #0071e3;
                    }
                }
            }
        }

        .home_post_sort{
            border: 1px solid #dddddd;
            background-color: #fff;
            padding: 15px;
            border-radius: 5px;
            margin-top: 20px;
            .home_post_tab_link{
                overflow: hidden;
                position: relative;
                display: block;
                .nav {
                    overflow-x: auto;
                    overflow-y: hidden;
                    flex-wrap: nowrap;
                }
                .nav .nav-link {
                    white-space: nowrap;
                    font-size: 16px;
                    color: #555;
                    text-align: left;
                    i{
                        position: relative;
                        top: -3px;
                        padding-right: 3px;
                    }
                }
                .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
                    border: none;
                    color: #555;
                    font-size: 16px;
                }
                .nav .nav-link.active {
                    background-color: #eee;
                    border-radius: 20px;
                    font-weight: 600;
                    color: #0071e3;
                }
            }
        }
        .home_post_tab_content{
            padding-top: 20px;
        }
    }

    .home_right_trend_block{
        border: 1px solid #dddddd;
        background-color: #f9fafa;
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
        .home_right_title{
            font-size: 22px;
            font-weight: 600;
            padding: 15px;
            color: #333;
        }

        .home_right_content{
            border-top: 1px solid #dddddd;
            padding: 15px;
            padding-bottom: 10px;
            padding-top: 10px;
            display: block;
            clear: both;
            .home_right_post_block{
                a{
                    text-decoration: none;
                    color: #222;
                    font-size: 16px;
                    &:hover{
                        color: #0071e3;
                    };
                }
            }

            .home_right_tag_block{
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                min-height: 20px;
                button{
                    margin-bottom: 5px;
                    border: none;
                    border-radius: 5px;
                    background-color: #f9fafa;
                    padding: 3px;
                    color: #666;
                    font-size: 14px;
                    font-weight: 500;
                    &:focus {outline:none;}
                    float: left;
                    margin-right: 5px;
                    &:hover{
                        background-color: #0071e3;
                        color: #fff;
                    }
                }
            }
        }
    }

    .home_right_top_block{
        border: 1px solid #dddddd;
        background-color: #f9fafa;
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
        .home_right_title{
            font-size: 22px;
            font-weight: 600;
            padding: 15px;
            color: #333;
        }

        .home_right_content{
            border-top: 1px solid #dddddd;
            padding: 15px;
            padding-bottom: 10px;
            padding-top: 10px;
            display: block;
            clear: both;

            .home_right_tag_block{
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                min-height: 20px;
                a{
                    text-decoration: none;
                    color: #555;
                    font-size: 16px;
                    &:hover{
                        color: #0071e3;
                    };
                }
            }
        }
    }
}

///////////////////search///////////////////////////
.home_search_block{
    background-color: #f0f2f5;
    min-height: 900px;
    .home_search_input{
        display: block;
        padding-top: 30px;
        margin-bottom: 20px;
        .home_search_what{
            .form-control{
                height: 44px;
                padding-left: 15px;
                padding-right: 15px;
                &:focus{
					border: 2px solid #0071e3;
					border-radius: 5px;
				}
            }
        }
    }
    .home_search_tab_link{
        overflow: hidden;
        position: relative;
        display: block;
        border: 1px solid #dddddd;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #333;
            text-align: center;
            i{
                position: relative;
                top: -1px;
                padding-right: 3px;
            }
            span{
                position: absolute;
                top: 1px;
                right: 15px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 3px solid #0071e3;
            font-weight: 600;
            color: #0071e3;
            font-size: 16px;
            span{
                color: #0071e3;
            }
        }
    }

    .home_search_tab_content{
        margin-top: 20px;
        font-style: normal;
    }
}