// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////index///////////////////////////////
@media screen and (max-width: 600px){
    .col-nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.home_index_container{
    background-color: #f0f2f5;
    min-height: 900px;
    .home_left_block{
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 10px;
        }
        .home_new_post{
            border: 1px dashed #dddddd;
            @media screen and (max-width: 600px){
                border-left: none;
                border-right: none;
                border-top: 1px dashed #dddddd;
                border-bottom: 1px dashed #dddddd;
                border-radius: 0px;
            }
            background-color: #fff;
            padding: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 5px;
            min-height: 66px;
            .home_new_post_user_avatar{
                border: none;
                float: left;
                position: relative;
                // top: 3px;
                width: 8%;
                img{
                    border: 1px solid #eee;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                a{
                    color: #536471;
                    font-size: 13px;
                }
            }

            .home_new_post_editor{
                width: 92%;
                @media screen and (max-width: 600px){
                    margin-left: 10px;
                    width: 85%;
                }
                float: right;
                button{
                    color: #637583;
                    width: 100%;
                    height: 44px;
                    border-radius: 22px;
                    padding: 6px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    a{
                        font-weight: 600;
                    }
                    border: 1px solid #f0f2f5;
                    cursor: pointer;
                    text-align: left;
                    i{
                        color: #0071e3;
                    }
                }
            }
        }

        .home_post_sort{
            border: 1px solid #dddddd;
            @media screen and (max-width: 600px){
                border: none;
                border-radius: 0px;
                margin-top: 10px;
            }
            background-color: #fff;
            padding: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 5px;
            margin-top: 20px;
            .home_post_tab_link{
                overflow: hidden;
                position: relative;
                display: block;
                .nav {
                    overflow-x: auto;
                    overflow-y: hidden;
                    flex-wrap: nowrap;
                }
                .nav .nav-link {
                    white-space: nowrap;
                    font-size: 16px;
                    color: #444;
                    text-align: left;
                    i{
                        position: relative;
                        top: -3px;
                        padding-right: 3px;
                    }
                }
                .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
                    border: none;
                    color: #444;
                    font-size: 16px;
                }
                .nav .nav-link.active {
                    background-color: #eee;
                    border-radius: 20px;
                    font-weight: 600;
                    color: #0071e3;
                }
            }
        }
        .home_post_tab_content{
            padding-top: 20px;
            padding-bottom: 20px;
            @media screen and (max-width: 600px){
                padding-top: 10px;
            }
        }
        .home_post_pagination_button{
            padding: 4px;
            text-align: center;
            background-color: #f0f2f5;
            margin-top: 20px;
            a{
                font-size: 13px;
                font-weight: 600;
                color: #0071e3;
            }
        }
    }

    .home_right_top_block{
        clear: both;
        border: 1px solid #dddddd;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
        }
        background-color: #fff;
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 10px;
        }
        border-radius: 5px;
        min-height: 300px;
        .home_right_title{
            font-size: 20px;
            font-weight: 600;
            padding: 15px;
            color: #0f1419;
        }

        .home_right_content{
            border-top: 1px solid #f0f2f5;
            padding: 15px;
            padding-bottom: 10px;
            padding-top: 10px;
            display: block;
            clear: both;
        }
        .home_right_all_topic{
            border-top: 1px solid #f0f2f5;
            padding: 15px;
            .home_right_all_topic_button{
                button{
                    width: 100%;
                    height: 40px;
                    text-align: center;
                    // border: 1px solid #dddddd;
                    border: none;
                    border-radius: 20px;
                    padding: 3px;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: #f0f2f5;
                    &:focus {outline:none;}
                    &:hover{
                        background-color: #0071e3;
                        color: #fff;
                    }
                }
            }
        }
    }
}

///////////////////search///////////////////////////
.home_search_block{
    background-color: #f0f2f5;
    min-height: 900px;
    .home_search_input{
        display: block;
        padding-top: 30px;
        margin-bottom: 20px;
        .home_search_what{
            .form-control{
                height: 44px;
                padding-left: 15px;
                padding-right: 15px;
                &:focus{
					border: 2px solid #0071e3;
					border-radius: 5px;
				}
            }
        }
    }
    .home_search_tab_link{
        overflow: hidden;
        position: relative;
        display: block;
        border: 1px solid #dddddd;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
        }
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        @media screen and (min-width: 600px){
            .nav::-webkit-scrollbar {
                width: 1px;
                height: 6px;
            }
    
            .nav::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 2px rgba(83, 82, 82, 0.1); 
                border-radius: 10px;
            }
    
            .nav::-webkit-scrollbar-thumb {
                border-radius: 10px;
                // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1);
                background-color: #c5c5c5; 
                width: 100px;
            }
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #0f1419;
            text-align: center;
            i{
                position: relative;
                // top: 5px;
                padding-right: 3px;
            }
            span{
                position: relative;
                top: -10px;
                // right: 15px;
                font-size: 12px;
                color: #536471;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 5px solid #0071e3;
            font-weight: 600;
            color: #0071e3;
            font-size: 16px;
            span{
                color: #0071e3;
            }
        }
    }

    .tab-content{
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 10px;
        }
        font-style: normal;
    }
}

/////////////////////login template modal////////////////
.user_signin_modal_title{
    font-size: 22px;
    color: #0f1419;
    text-align: left;
    font-weight: 550;
}

.user_signin_modal_logo{
    display: flex;
    justify-content: center;
    img{
        width: 60px;
        height: 60px;
        transform: rotate(30deg);
    }
}

.user_signin_modal_des{
    padding-top: 20px;
    span{
        font-size: 20px;
        font-weight: 500;
    }
}

.user_signin_modal_signin{
    margin-top: 30px;
    button{
        width: 100%;
        height: 44px;
        border-radius: 4px;
        padding: 6px;
        background: #1877f2;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-align: center;
        color: #fff;
        font-weight: 600;
    
        &:hover{
            background-color: #1877f2;
            border-radius: 4px;
        }
    }
}

.user_signin_modal_signup{
    margin-top: 10px;
    button{
        width: 100%;
        height: 44px;
        border-radius: 4px;
        padding: 6px;
        background: #e5e5e5;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-align: center;
        color: #333;
        font-weight: 600;
    
        &:hover{
            background-color: #666;
            color: #fff;
            border-radius: 4px;
        }
    }
}

.user_signin_modal_des_sub{
    margin-top: 30px;
    border-top: 1px solid #dfe1e5;
    padding-top: 10px;
    text-align: center;
    span{
        font-size: 14px;
        color: #555;
    }
}