// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.page_index_container{
    background-color: #eef0f1;
    min-height: 900px;
    .home_left{
        border: 1px solid #dbdbdb;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
    }
    .home_middle{
        margin-top: 20px;
        .home_post_sort{
            .home_new_post{
                button{
                    width: 100%;
                    @media screen and (min-width: 600px)
                    {
                        width: 20%;
                        float: left;
                    }
                    height: 50px;
                    border-radius: 3px;
                    padding: 6px;
                    background: #1877f2;
                    font-size: 14px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    margin-bottom: 20px;
                    &:hover{
                        background-color: #369;
                    }
                }
            }
            .home_post_tab_link{
                @media screen and (min-width: 600px)
                {
                    width: 70%;
                    float: right;
                }
                @media screen and (max-width: 600px){
                    clear: left;
                }
                overflow: hidden;
                position: relative;
                display: block;
                /*background-color: #fff;*/
                /*border-bottom: 1px solid #dfe1e5;*/
                margin-bottom: 20px;
                .nav {
                    overflow-x: auto;
                    overflow-y: hidden;
                    flex-wrap: nowrap;
                }
                .nav .nav-link {
                    white-space: nowrap;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                    i{
                        position: relative;
                        top: -3px;
                        padding-right: 3px;
                    }
                }
                .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
                    border: none;
                    color: #333;
                    font-size: 16px;
                }
                .nav .nav-link.active {
                    border-radius: 0;
                    border-bottom: 3px solid #1877f2;
                    font-weight: 500;
                    color: #1877f2;
                }
            }
            .home_post_tab_content{
                padding-top: 20px;
            }
        }
    }
    .home_right{
        border: 1px solid #dbdbdb;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
        .home_right_title{
            font-size: 22px;
            font-weight: 600;
            padding: 15px;
        }

        .home_right_content{
            border-top: 1px solid #dbdbdb;
            padding: 15px;
            a{
                text-decoration: none;
                color: #222;
                font-size: 16px;
                &:hover{
                    color: #1817f2;
                };
            }
        }
    }
}