// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/////////////////////index///////////////////////
.post_index_block{
    border: 1px solid #dfe1e5;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
    .post_index_info{
        padding-left: 15px;
        padding-right: 15px;
        .post_index_info_left{
            float: left;
            .post_index_user_avatar{
                border: none;
                img{
                    border: 1px solid #eee;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .post_index_info_right{
            padding-left: 50px;
            position: relative;
            .post_index_user_name{
                position: relative;
                top:  -5px;
                a{
                    font-size: 13px;
                    font-weight: 600;
                    color: #333;
                    text-decoration: none;
                }
            }

            .post_index_create{
                position: relative;
                top: -6px;
                font-size: 12px;
                font-weight: 400;
                color: #666;
            }
        }
    }
    .post_index_title{
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 64px;
        @media screen and (max-width: 600px){
            padding-left: 15px;
        }
        a{
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
            color: #444;
            &:hover{
                color: #0071e3;
            };
        }
    }

    .post_index_image{
        padding-top: 10px;
        padding-bottom: 10px;
        img{ 
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        display: block;
    }

    .post_index_content{
        padding-left: 62px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        @media screen and (max-width: 600px){
            padding-left: 15px;
        }
        display: none;
    }

    .post_index_tag_block{
        padding-left: 64px;
        @media screen and (max-width: 600px){
            padding-left: 15px;
        }
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        min-height: 20px;
        button{
            margin-bottom: 5px;
            border: none;
            border-radius: 5px;
            background-color: #fff;
            padding: 3px;
            color: #0071e3;
            font-size: 14px;
            font-weight: 500;
            &:focus {outline:none;}
            float: left;
            margin-right: 5px;
            &:hover{
                background-color: #0071e3;
                color: #fff;
            }
        }
    }

    .post_index_toolbar_block{
        clear: left;
        padding-left: 15px;
        padding-right: 15px;
        padding-left: 55px;
        @media screen and (max-width: 600px){
            padding-left: 12px;
        }
        padding-top: 5px;
        .post_index_vote_unvote_block{
            background-color: #fff;
            position: relative;
            top: 6px;
            .post_index_vote_block{
                float: left;
                button{
                    background-color: #fff;
                    border: none;
                    &:focus {outline:none;}
                }
            }
            .post_index_vote_unvote_count{
                background-color: #fff;
                float: left;
                font-size: 14px;
                // font-weight: 600;
                text-decoration: none;
                color: #666;
                padding-left: 3px;
                padding-right: 3px;
                position: relative;
                top: 5px;
            }
            .post_index_unvote_block{
                float: left;
                button{
                    background-color: #fff;
                    border: none;
                    &:focus {outline:none;}
                }
            }
        }

        .post_index_comment_block{
            float: left;
            color: #555;
            margin-left: 20%;
            @media screen and (max-width: 600px){
                margin-left: 15%;
            }
            button{
                border: none;
                background-color: #fff;
                &:focus {outline:none;}
            }
            a{
                font-size: 14px;
                color: #666;
                span{
                    margin-left: 2px;
                }

                @media screen and (max-width: 600px){
                    display: none;
                }
            }
            .post_index_comment
            {
                border: none;
                background-color: #fff;
                i{
                    color: #555;
                    font-size: 24px;
                }
                &:focus {outline:none;}
            }
        }

        .post_index_follow_block{
            float: left;
            color: #555;
            margin-left: 20%;
            margin-right: 20%;
            @media screen and (max-width: 600px){
                margin-left: 15%;
                margin-right: 15%;
            }
            padding-top: 8px;
            button{
                border: none;
                background-color: #fff;
                &:focus {outline:none;}
                i{
                    position: relative;
                    top: -1px;
                }
            }
            
            span{
                margin-left: 2px;
                color: #666;
                font-size: 14px;
            }
        }

        .post_index_share_block{
            color: #555;
            button{
                border: none;
                background-color: #fff;
                &:focus {outline:none;}
            }
            a{
                font-size: 14px;
                color: #666;
                span{
                    margin-left: 2px;
                }

                @media screen and (max-width: 600px){
                    display: none;
                }
            }
            .post_index_share
            {
                border: none;
                background-color: #fff;
                i{
                    color: #555;
                    font-size: 24px;
                }
                &:focus {outline:none;}
            }
        }
    }
}

////////////////////////show////////////////////
.post_show_container{
    background-color: #f1f1f1;
    .post_show_left_block{
        border: 1px solid #dfe1e5;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        height: auto;
        padding: 20px;
        margin-top: 20px;
        .post_show_info{
            .post_show_info_left{
                float: left;
                .post_show_user_avatar{
                    border: none;
                    img{
                        border: 1px solid #eee;
                        width: 42px;
                        height: 42px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            .post_show_info_right{
                padding-left: 50px;
                position: relative;
                top: 2px;
                .post_show_user_name{
                    font-size: 14px;
                    font-weight: 600;
                    color: #333;
                }
                .post_show_create{
                    font-size: 12px;
                    font-weight: 400;
                    color: #666;
                }
            }
        }
        .post_show_title{
            font-size: 28px;
            font-weight: 600;
            padding-top: 10px;
            padding-bottom: 10px;
            a{
                text-decoration: none;
            }
        }
        .post_show_tag_link{
            float: left;
            margin-right: 10px;
            border-radius: 5px; 
            background-color: #e1ecf4;
            padding: 3px;
            font-size: 13px;
            a{
                text-decoration: none;
                color: #444;
            }
            &:hover{
                background-color: #0071e3;
                a{
                    color: #fff;
                }
            }
        }

        .post_show_link_block{
            clear: both;
            min-height: 230px;
            border: 1px solid #dfe1e5;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 15px;
            .post_show_link_image{
                border-radius: 5px;
                float: left;
                height: 100%;
                img{
                    width: 300px;
                    height: 200px;
                    border: 1px solid #0071e3;
                    object-fit: cover;
                }
            }

            .post_show_link_right{
                padding-left: 320px;
                .post_show_link_title{
                    font-size: 18px;
                    font-weight: 600;
                }

                .post_show_link_description{
                    font-size: 14px;
                    color: #666;
                }
            }
        }

        .post_show_image{
            img{ 
                padding-top: 20px;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            display: block;
        }

        .post_show_content{
            clear: left;
            font-size: 16px;
            padding-bottom: 10px;
            padding-top: 20px;
        }

        .post_show_toolbar_block{
            border-bottom: 1px solid #dfe1e5;
            border-top: 1px solid #dfe1e5;
            padding-bottom: 10px;
            clear: left;
            padding-top: 5px;
            .post_show_vote_unvote_block{
                background-color: #fff;
                position: relative;
                top: 6px;
                .post_show_vote_block{
                    float: left;
                    button{
                        background-color: #fff;
                        border: none;
                        &:focus {outline:none;}
                    }
                }
                .post_show_vote_unvote_count{
                    background-color: #fff;
                    float: left;
                    font-size: 14px;
                    // font-weight: 600;
                    text-decoration: none;
                    color: #666;
                    padding-left: 3px;
                    padding-right: 3px;
                    position: relative;
                    top: 5px;
                }
                .post_show_unvote_block{
                    float: left;
                    button{
                        background-color: #fff;
                        border: none;
                        &:focus {outline:none;}
                    }
                }
            }
    
            .post_show_comment_block{
                float: left;
                color: #555;
                margin-left: 20%;
                @media screen and (max-width: 600px){
                    margin-left: 12%;
                }
                button{
                    border: none;
                    background-color: #fff;
                    &:focus {outline:none;}
                }
                a{
                    font-size: 14px;
                    color: #666;
                    span{
                        margin-left: 2px;
                    }
    
                    @media screen and (max-width: 600px){
                        display: none;
                    }
                }
                .post_show_comment
                {
                    border: none;
                    background-color: #fff;
                    i{
                        color: #555;
                        font-size: 24px;
                    }
                    &:focus {outline:none;}
                }
            }
    
            .post_show_follow_block{
                float: left;
                color: #555;
                margin-left: 20%;
                margin-right: 20%;
                @media screen and (max-width: 600px){
                    margin-left: 12%;
                    margin-right: 12%;
                }
                padding-top: 8px;
                button{
                    border: none;
                    background-color: #fff;
                    &:focus {outline:none;}
                    i{
                        position: relative;
                        top: -1px;
                    }
                }
                
                span{
                    margin-left: 2px;
                    color: #666;
                    font-size: 14px;
                }
            }
    
            .post_show_share_block{
                color: #555;
                button{
                    border: none;
                    background-color: #fff;
                    &:focus {outline:none;}
                }
                a{
                    font-size: 14px;
                    color: #666;
                    span{
                        margin-left: 2px;
                    }
    
                    @media screen and (max-width: 600px){
                        display: none;
                    }
                }
                .post_show_share
                {
                    border: none;
                    background-color: #fff;
                    i{
                        color: #555;
                        font-size: 24px;
                    }
                    &:focus {outline:none;}
                }
            }
        }

        .post_show_new_comment_block{
            margin-top: 30px;
            margin-bottom: 30px;
            .post_show_comment_section{
                .post_show_comment_input{
                    margin-bottom: 5px;
                    margin-top: 5px;
                    border-radius: 5px;
                    width: 100%;
                    .form-control{
                        border-radius: 5px;
                        height: 100px;
                    }
                }
                .post_show_comment_submit{
                    .post_show_comment_submit{
                        margin-top: 5px;
                        width: 100px;
                        border: none;
                        border-radius: 20px;
                        background-color: #0071e3;
                        height: 40px;
                        color: #fff;
                        font-size:14px;
                        &:focus {outline:none;}
                    }
                }
            }

            .post_show_comment_render{
                padding-top: 20px;
                clear: right;
                clear: left;
            }
        }
    }

    .post_show_right_block_user{
        border: 1px solid #dfe1e5;
        border-top: 40px solid #444;
        background-color: #f9fafa;
        margin-bottom: 10px;
        border-radius: 5px;
        height: auto;
        padding: 15px;
        margin-top: 20px;
        min-height: 300px;
        .post_show_right_info{
            .post_show_right_info_left{
                float: left;
                .post_show_right_user_avatar{
                    border: none;
                    img{
                        border: 1px solid #eee;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            .post_show_right_info_right{
                padding-left: 60px;
                .post_show_right_user_name{
                    font-size: 16px;
                    font-weight: 600;
                    padding-top: 15px;
                    color: #444;
                }
                .post_show_right_create{
                    font-size: 12px;
                    font-weight: 400;
                    color: #666;
                }
            }
        }

        .post_show_right_user_info{
            clear: left;
            padding-top: 10px;
            .post_show_right_user_info_label{
                i{
                    padding-right: 5px;
                }
                a{
                    font-size: 14px;
                    font-weight: 600;
                    color: #666;
                }
            }

            .post_show_right_user_info_des{
                span{
                    font-size: 16px;
                    color: #333;
                }
            }
        }

        .post_show_right_user_follow{
            button{
                margin-top: 15px;
                width: 100%;
                border: none;
                border-radius: 20px;
                background-color: #0071e3;
                height: 40px;
                color: #fff;
                font-size:14px;
                font-weight: 600;
                &:focus {outline:none;}
            }
        }
    }

    .post_show_right_user_post{
        border: 1px solid #dfe1e5;
        background-color: #f9fafa;
        margin-top: 20px;
        padding-bottom: 30px;
        border-radius: 5px;
        min-height: 300px;
        .post_show_right_title{
            font-size: 22px;
            font-weight: 600;
            padding: 15px;
            a{ 
                text-decoration: none;
            }
        }

        .post_show_right_content{
            border-top: 1px solid #dfe1e5;
            padding: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
            min-height: auto;
            clear: left;
            .post_show_right_post_block{
                display: block;
                a{
                    text-decoration: none;
                    color: #222;
                    font-size: 18px;
                    &:hover{
                        color: #0071e3;
                    };
                }
            }

            .post_show_right_tag_block{
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                min-height: 20px;
                button{
                    margin-bottom: 5px;
                    border: none;
                    border-radius: 5px;
                    background-color: #f9fafa;
                    padding: 3px;
                    color: #0071e3;
                    font-size: 14px;
                    font-weight: 500;
                    &:focus {outline:none;}
                    float: left;
                    margin-right: 5px;
                    &:hover{
                        background-color: #0071e3;
                        color: #fff;
                    }
                }
            }
        }
    }

}
//////////////////////new////////////////////
.new_post_container{
    background-color: #f1f1f1;
    .new_post_title{
        font-size: 20px;
        color: #333;
        text-align: left;
        margin-top: 20px;
        font-weight: 666;
        a{
            text-decoration: none;
        }
    }

    .new_post_tab_link{
        margin-top: 20px;
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border: 1px solid #dfe1e5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #333;
            text-align: center;
            i{
                position: relative;
                top: -1px;
                padding-right: 3px;
            }
            span{
                position: absolute;
                top: 1px;
                right: 15px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 3px solid #0071e3;
            font-weight: 600;
            color: #0071e3;
            font-size: 16px;
            span{
                color: #0071e3;
            }
        }
    }

    .new_post_tab_content{
        
        .new_post_form
        {
            border: 1px solid #dfe1e5;
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 15px;
            background-color: #fff;
            margin-bottom: 20px;
            .new_post_section
            {
                padding-top: 10px;
                .new_post_content{
                    .new_post_input{
                        left: 0px;
                        margin-top: 5px;
                        margin-bottom: 20px;
                        width: 100%;
                        height: auto;
                        .form-control-rich-text{
                            min-height: 150px;
                            height: auto;
                            margin-left: 0px;
                            width: 100%;
                            border: 1px solid #dfe1e5;
                            border-radius: 5px;
                        }
                        .form-control{
                            margin-left: 0px;
                            min-height: 40px;
                            width: 100%;
                            border: 1px solid #dfe1e5;
                            border-radius: 5px;
                            &:focus{
                                border: 2px solid #0071e3;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }

            .new_post_submit{
                width: 100%;
                margin-top: 30px;
                .new_post_form_submit{
                    height: 44px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 6px;
                    background: #0071e3;
                    font-size: 14px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #0071e3;
                    }
                }
            }
        }

        .new_image_form{
            border: 1px solid #dfe1e5;
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 15px;
            background-color: #fff;
            margin-bottom: 20px;
            min-height: 700px;
            .new_image_section
            {
                padding-top: 10px;
                .new_image_content{
                    .new_image_input{
                        left: 0px;
                        margin-top: 5px;
                        margin-bottom: 20px;
                        width: 100%;
                        height: auto;
                        .form-control-rich-text{
                            min-height: 150px;
                            height: auto;
                            margin-left: 0px;
                            width: 100%;
                            border: 1px solid #dfe1e5;
                            border-radius: 5px;
                        }
                        .form-control{
                            margin-left: 0px;
                            min-height: 40px;
                            width: 100%;
                            border: 1px solid #dfe1e5;
                            border-radius: 5px;
                            &:focus{
                                border: 2px solid #0071e3;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }

            .new_image_section_upload
            {
                min-height: 400px;
                margin-top: 10px;
                padding-top: 10px;
                border: 1px dashed #dfe1e5;
                border-radius: 5px;
                padding: 15px;
                .new_image_content{
                    .new_image_input{
                        left: 0px;
                        margin-top: 5px;
                        margin-bottom: 20px;
                        width: 100%;
                        height: auto;
                        .form-control-rich-text{
                            min-height: 150px;
                            height: auto;
                            margin-left: 0px;
                            width: 100%;
                            border: 1px solid #dfe1e5;
                            border-radius: 5px;
                        }
                        .form-control{
                            margin-left: 0px;
                            min-height: 40px;
                            width: 100%;
                            border: 1px solid #dfe1e5;
                            border-radius: 5px;
                            &:focus{
                                border: 2px solid #0071e3;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }

            .new_image_submit{
                width: 100%;
                margin-top: 20px;
                .new_image_form_submit{
                    height: 44px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 6px;
                    background: #0071e3;
                    font-size: 14px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #0071e3;
                    }
                }
            }
        }
    }
}