// Place all the styles related to the post_commentReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////////////new/////////////////////////
.new_post_comment_report_form
{
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 5px;
    .new_post_comment_report_title{
        font-size: 24px;
        font-weight: 600;
        color: #0f1419;
        text-align: left;
        i{
            color: #0f1419;
            padding-right: 3px;
        }
    }

    .new_post_comment_report_section
    {
		border-radius: 5px;
        background-color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        .new_post_comment_report_label{
            font-weight: 600;
            font-size: 16px;
            color: #0f1419;
            text-align: left;
        }
        .new_post_comment_report_content{
            .new_post_comment_report_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                .new_post_comment_report_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                }

                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                    font-size: 14px;
                    &:focus{
                        border: 2px solid #5865f2;
                        border-radius: 5px;
                    }
                }

                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                    font-size: 14px;
                }
            }
        }
    }

    .new_post_comment_report_submit{
        width: 100%;
        .new_post_comment_report_form_submit{
            height: 44px;
            @media screen and (max-width: 600px){
                width: 100%;
            }
            width: 150px;
            border-radius: 22px;
            padding: 6px;
            background: #5865f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #5865f2;
            }
        }
    }
}

.post_comment_report_success_message{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}