// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/////////////////////index///////////////////////
.post_index_block{
    border: 1px solid #dddddd;
    @media screen and (max-width: 600px){
        border: none;
        border-radius: 0px;
        margin-bottom: 10px;
    }
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
    display: block;
    &:hover{
        border: 1px solid #0071e3;
        // background-color: #fff;
    }
    .post_index_info{
        padding-left: 15px;
        padding-right: 15px;
        .post_index_info_left{
            float: left;
            .post_index_user_avatar{
                border: none;
                img{
                    border: 1px solid #eee;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .post_index_info_right{
            padding-left: 10px;
            position: relative;
            top: 3px;
            float: left;
            .post_index_user_name{
                position: relative;
                top:  -5px;
                a{
                    font-size: 13px;
                    font-weight: 600;
                    color: #333;
                    text-decoration: none;
                }
            }

            .post_index_create{
                position: relative;
                top: -6px;
                font-size: 12px;
                font-weight: 400;
                color: #536471;
            }
        }
        .post_index_info_action{
            float: right;
            .post_index_close_btn{
                position: relative;
                left: 4px;
                top: -4px;
                border: none;
                background-color: #fff;
                color: #536471;
            }
        }
    }
    .post_index_title{
        clear: both;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        span{
            background-color: #0c87ee;
            border-radius: 5px;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;
            color: #fff;
            margin-right: 8px;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            top: -2px;
            i{
                position: relative;
                top: -2px;
            }
        }
        a{
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
            color: #333;
            &:hover{
                color: #0071e3;
            };
        }
    }

    .post_index_content{
        padding-left: 15px;
        padding-right: 15px;
        a{
            font-weight: 500;
            font-size: 15px;
            color: #444;
        }
    }

    .post_index_link_block{
        clear: both;
        .post_index_link_image{
            margin-top: 10px;
            img{
                width: 100%;
                height: 100%;
                // border: 1px solid #0071e3;
                object-fit: cover;
            }
        }

        .post_index_link_right{
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 10px;
            .post_index_link_title{
                font-size: 17px;
                font-weight: 600;
                word-break: break-word;
                a{
                    text-decoration: none;
                    color: #0f1419;
                }
            }

            .post_index_link_description{
                font-size: 14px;
                word-break: break-word;
                a{
                    text-decoration: none;
                    color: #536471;
                }
            }

            .post_index_link_url{
                a{
                    font-size: 13px;
                    text-decoration: none;
                    color: #536471;
                    word-break: break-word;
                    &:hover{
                        color: #0071e3;
                    };
                }
            }
        }
    }

    .post_index_image{
        padding-top: 10px;
        padding-bottom: 10px;
        img{ 
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        display: block;
    }

    .post_index_podcast{
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .post_index_shared{
        padding-left: 15px;
        padding-right: 15px;
    }

    .post_index_topic_block{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        min-height: 20px;
        button{
            margin-bottom: 5px;
            border: none;
            border-radius: 3px;
            padding: 3px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: #f0f2f5;
            color: #536471;
            font-size: 13px;
            font-weight: 500;
            &:focus {outline:none;}
            float: left;
            margin-right: 5px;
            &:hover{
                color: #0071e3;
            }
        }
    }

    .post_index_toolbar_block{
        clear: both;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 33px;
        .post_index_toolbar_left{
            float: left;
            .post_index_vote_unvote_conatainer{
                display: inline-block;
                .post_index_vote_unvote_block{
                    background-color: #f0f2f5;
                    border-radius: 20px;
                    padding-bottom: 3px;
                    padding-top: 1px;
                    padding-left: 3px;
                    padding-right: 3px;
                    .post_index_vote_block{
                        float: left;
                        position: relative;
                        top: -1px;
                        button{
                            border: none;
                            &:focus {outline:none;}
                            background-color: #f0f2f5;
                            border-radius: 20px;
                        }
                        .btn_highlight
                        {
                            button{
                                color: #0071e3;
                            }
                        }
        
                        .btn_normal{
                            button{
                                color: #333;
                            }
                        }
                    }
                    .post_index_vote_unvote_count{
                        float: left;
                        font-size: 14px;
                        text-decoration: none;
                        color: #536471;
                        position: relative;
                        top: 5px;
                        font-weight: 600;
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                    .post_index_unvote_block{
                        display:inline-block;
                        transform: rotate(180deg);
                        position: relative;
                        top: 3px;
                        button{
                            border: none;
                            &:focus {outline:none;}
                            background-color: #f0f2f5;
                            border-radius: 20px;
                        }
                        .btn_highlight
                        {
                            button{
                                color: #0071e3;
                            }
                        }
        
                        .btn_normal{
                            button{
                                color: #333;
                            }
                        }
                    }
                }
            }
    
            .post_index_comment_block{
                display: inline-block;
                padding-left: 15px;
                position: relative;
                top: 2px;
                button{
                    border: none;
                    background-color: #fff;
                    &:focus {outline:none;}
                }
                a{
                    font-size: 14px;
                    color: #536471;
                    span{
                        margin-left: 2px;
                    }
                }
                .post_index_comment
                {
                    border: none;
                    background-color: #fff;
                    i{
                        color: #333;
                        font-size: 24px;
                    }
                    &:focus {outline:none;}
                }
            }
    
            .post_index_share_block{
                display: inline-block;
                padding-left: 15px;
                button{
                    border: none;
                    background-color: #fff;
                    &:focus {outline:none;}
                }
                a{
                    font-size: 14px;
                    color: #444;
                    text-decoration: none;
                }
                span{
                    margin-left: 2px;
                    position: relative;
                    top: 2px;
                    color: #536471;
                    font-size: 14px;
                    text-decoration: none;
                }
                .post_index_share
                {
                    border: none;
                    background-color: #fff;
                    i{
                        color: #444;
                        font-size: 24px;
                    }
                    &:focus {outline:none;}
                }
            }
        }
        .post_index_toolbar_right{
            float: right;
            position: relative;
            top: 10px;
            .post_index_follow_block{
                display: inline-block;
                color: #444;
                position: relative;
                // top: 1px;
                button{
                    border: none;
                    color: #444;
                    background-color: #fff;
                    &:focus {outline:none;}
                }
    
                .btn_highlight
                    {
                        button{
                            color: #0071e3;
                        }
                    }
    
                    .btn_normal{
                        button{
                            color: #333;
                        }
                    }
                
                span{
                    margin-left: 2px;
                    color: #536471;
                    font-size: 14px;
                }
            }
            .post_index_option_btn{
                display: inline-block;
                padding-left: 10px;
                border: none;
                background-color: #fff;
                color: #536471;
                .dropdown-menu{
                    button {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/////////////////////share///////////////////////
.post_share_block{
    border: 1px solid #dddddd;
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
    display: block;
    &:hover{
        border: 1px solid #0071e3;
        // background-color: #fff;
    }
    .post_share_info{
        padding-left: 15px;
        padding-right: 15px;
        .post_share_info_left{
            float: left;
            .post_share_user_avatar{
                border: none;
                img{
                    border: 1px solid #eee;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .post_share_info_right{
            padding-left: 10px;
            position: relative;
            top: 3px;
            float: left;
            .post_share_user_name{
                position: relative;
                top:  -5px;
                a{
                    font-size: 13px;
                    font-weight: 600;
                    color: #333;
                    text-decoration: none;
                }
            }

            .post_share_create{
                position: relative;
                top: -6px;
                font-size: 12px;
                font-weight: 400;
                color: #536471;
            }
        }
        .post_share_info_action{
            float: right;
            .post_share_close_btn{
                border: none;
                background-color: #fff;
                color: #536471;
            }
        }
    }
    .post_share_title{
        clear: both;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        a{
            font-weight: 600;
            font-size: 16px;
            text-decoration: none;
            color: #0f1419;
            &:hover{
                color: #0071e3;
            };
        }
    }

    .post_share_content{
        padding-left: 15px;
        padding-right: 15px;
        a{
            font-weight: 500;
            font-size: 15px;
            color: #444;
        }
    }

    .post_share_link_block{
        clear: both;
        .post_share_link_image{
            margin-top: 10px;
            img{
                width: 100%;
                height: 100%;
                // border: 1px solid #0071e3;
                object-fit: cover;
            }
        }

        .post_share_link_right{
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 10px;
            .post_share_link_title{
                font-size: 16px;
                font-weight: 600;
                word-break: break-word;
                a{
                    text-decoration: none;
                    color: #0f1419;
                }
            }

            .post_share_link_description{
                font-size: 14px;
                word-break: break-word;
                a{
                    text-decoration: none;
                    color: #536471;
                }
            }

            .post_share_link_url{
                a{
                    font-size: 13px;
                    text-decoration: none;
                    color: #536471;
                    word-break: break-word;
                    &:hover{
                        color: #0071e3;
                    };
                }
            }
        }
    }

    .post_share_image{
        padding-top: 10px;
        padding-bottom: 10px;
        img{ 
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        display: block;
    }

    .post_share_shared{
        padding-left: 15px;
        padding-right: 15px;
    }
}

////////////////////////show////////////////////
.post_show_container{
    background-color: #f0f2f5;
    .post_show_left_block{
        border: 1px solid #dddddd;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
        }
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        height: auto;
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 10px;
        }
        padding-top: 15px;
        padding-bottom: 15px;
        .post_show_info{
            padding-left: 15px;
            padding-right: 15px;
            float: left;
            .post_show_info_left{
                display: inline-block;
                .post_show_user_avatar{
                    border: none;
                    img{
                        border: 1px solid #eee;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            .post_show_info_right{
                padding-left: 5px;
                position: relative;
                top: 10px;
                display: inline-block;
                .post_show_user_name{
                    a{
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 600;
                        color: #333;
                    }
                }
                .post_show_create{
                    font-size: 12px;
                    font-weight: 400;
                    color: #536471;
                }
            }
        }
        
        .post_show_title{
            clear: both;
            font-size: 18px;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            word-break: break-word;
            span{
                background-color: #0c87ee;
                border-radius: 5px;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 8px;
                padding-right: 8px;
                color: #fff;
                margin-right: 8px;
                font-size: 14px;
                font-weight: 600;
                position: relative;
                top: -2px;
                i{
                    position: relative;
                    top: -2px;
                }
            }
            a{
                text-decoration: none;
                color: #333;
            }
        }

        .post_show_topic_link_block{
            padding-left: 15px;
            padding-right: 15px;
            .post_show_topic_link{
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 3px;
                padding: 3px;
                padding-left: 5px;
                padding-right: 5px;
                background-color: #f0f2f5;
                color: #536471;
                font-size: 13px;
                a{
                    text-decoration: none;
                    color: #596976;
                }
                &:hover{
                    background-color: #0071e3;
                    a{
                        color: #fff;
                    }
                }
            }
        }

        .post_show_link_block{
            clear: both;
            .post_show_link_image{
                margin-top: 10px;
                img{
                    width: 100%;
                    height: 100%;
                    // border: 1px solid #0071e3;
                    object-fit: cover;
                }
            }
    
            .post_show_link_right{
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                .post_show_link_title{
                    font-size: 17px;
                    font-weight: 600;
                    word-break: break-word;
                    a{
                        text-decoration: none;
                        color: #0f1419;
                    }
                }
    
                .post_show_link_description{
                    font-size: 14px;
                    word-break: break-word;
                    a{
                        text-decoration: none;
                        color: #536471;
                    }
                }
    
                .post_show_link_url{
                    a{
                        font-size: 13px;
                        text-decoration: none;
                        color: #536471;
                        &:hover{
                            color: #0071e3;
                        };
                    }
                }
            }
        }

        .post_show_image{
            img{ 
                padding-top: 20px;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            display: block;
        }

        .post_show_content{
            clear: left;
            word-break: break-word;
            font-size: 14px;
            padding-bottom: 10px;
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
            color: #333;
        }

        .post_show_podcast{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .post_show_shared{
            padding-left: 15px;
            padding-right: 15px;
        }

        .post_show_toolbar_block{
            border-bottom: 1px solid #e1ecf4;
            border-top: 1px solid #e1ecf4;
            clear: left;
            margin-top: 20px;
            padding-top: 5px;
            padding-bottom: 45px;
            padding-left: 15px;
            padding-right: 15px;
            .post_show_toolbar_left{
                float: left;
                .post_show_vote_unvote_conatainer{
                    display: inline-block;
                    .post_show_vote_unvote_block{
                        position: relative;
                        top: -3px;
                        background-color: #f0f2f5;
                        border-radius: 20px;
                        padding-bottom: 3px;
                        padding-top: 1px;
                        padding-left: 3px;
                        padding-right: 3px;
                        .post_show_vote_block{
                            display:block;
                            float: left;
                            position: relative;
                            top: -1px;
                            button{
                                border: none;
                                &:focus {outline:none;}
                                background-color: #f0f2f5;
                                border-radius: 20px;
                            }
                            .btn_highlight
                            {
                                button{
                                    color: #0071e3;
                                }
                            }
            
                            .btn_normal{
                                button{
                                    color: #333;
                                }
                            }
                        }
                        .post_show_vote_unvote_count{
                            display:block;
                            float: left;
                            font-size: 14px;
                            text-decoration: none;
                            color: #536471;
                            position: relative;
                            top: 5px;
                            font-weight: 600;
                            padding-left: 3px;
                            padding-right: 3px;
                        }
                        .post_show_unvote_block{
                            display:inline-block;
                            transform: rotate(180deg);
                            position: relative;
                            top: 3px;
                            button{
                                border: none;
                                &:focus {outline:none;}
                                background-color: #f0f2f5;
                                border-radius: 20px;
                            }
                            .btn_highlight
                            {
                                button{
                                    color: #0071e3;
                                }
                            }
            
                            .btn_normal{
                                button{
                                    color: #333;
                                }
                            }
                        }
                    }
                }
    
                .post_show_comment_block{
                    display: inline-block;
                    padding-left: 15px;
                    color: #536471;
                    position: relative;
                    top: -1px;
                    button{
                        border: none;
                        background-color: #fff;
                        &:focus {outline:none;}
                    }
                    a{
                        font-size: 14px;
                        color: #536471;
                        span{
                            margin-left: 2px;
                        }
                    }
                    .post_show_reply_btn
                    {
                        border: none;
                        background-color: #fff;
                        i{
                            color: #333;
                            font-size: 24px;
                        }
                        &:focus {outline:none;}
                    }
                }
    
                .post_show_share_block{
                    display: inline-block;
                    padding-left: 15px;
                    position: relative;
                    top: -3px;
                    button{
                        border: none;
                        background-color: #fff;
                        &:focus {outline:none;}
                    }
                    a{
                        font-size: 14px;
                        color: #444;
                        text-decoration: none;
                    }
                    span{
                        margin-left: 2px;
                        position: relative;
                        top: 2px;
                        color: #536471;
                        font-size: 14px;
                        text-decoration: none;
                    }
                    .post_show_share
                    {
                        border: none;
                        background-color: #fff;
                        i{
                            color: #444;
                            font-size: 24px;
                        }
                        &:focus {outline:none;}
                    }
                }
            }
            .post_show_toolbar_right{
                float: right;
                .post_show_follow_block{
                    // padding-left: 15px;
                    display: inline-block;
                    position: relative;
                    top: -2px;
                    button{
                        border: none;
                        background-color: #fff;
                        &:focus {outline:none;}
                        i{
                            position: relative;
                            top: 8px;
                            left: -5px;
                        }
                    }
    
                    .btn_highlight
                        {
                            button{
                                color: #0071e3;
                            }
                        }
    
                        .btn_normal{
                            button{
                                color: #333;
                            }
                        }
                    
                    span{
                        margin-left: 2px;
                        color: #536471;
                        font-size: 14px;
                    }
                }
                .post_show_info_action{
                    padding-left: 5px;
                    display: inline-block;
                    position: relative;
                    top: 6px;
                    .post_show_option_btn{
                        border: none;
                        background-color: #fff;
                        color: #536471;
                    }
                    .dropdown-item{
                        font-size: 14px;
                    }
                }
            }
        }

        .post_show_new_comment_block{
            margin-top: 20px;
            @media screen and (max-width: 600px){
                margin-top: 10px;
            }
            padding-left: 15px;
            padding-right: 15px;
            display: none;
            .post_show_comment_section{
                .post_show_comment_input{
                    margin-bottom: 5px;
                    margin-top: 5px;
                    border-radius: 5px;
                    width: 100%;
                    .form-control{
                        border-radius: 5px;
                        height: 100px;
                        padding-left: 15px;
                        padding-right: 15px;
                        font-size: 14px;
                        &:focus{
                            border: 2px solid #0071e3;
                            border-radius: 5px;
                        }
                    }
                }
                .post_show_comment_submit{
                    .post_show_comment_submit{
                        margin-top: 5px;
                        width: 100px;
                        border: none;
                        border-radius: 20px;
                        background-color: #0071e3;
                        height: 40px;
                        color: #fff;
                        font-size:14px;
                        &:focus {outline:none;}
                    }
                }
            }
        }

        .post_show_comment_count{
            padding-top: 30px;
            padding-left: 15px;
            float: left;
            font-size: 14px;
            color: #333;
        }
        .post_show_comment_sort{
            padding-top: 20px;
            padding-right: 15px;
            float: right;
            .post_show_comment_tab_link{
                font-size: 14px;
            }
        }
        .post_show_comment_tab_content{
            clear: both;
            .post_show_comment_render{
                border-top: 1px solid #eee;
                margin-left: 15px;
                margin-right: 15px;
            }
            .post_show_comment_paginate{
                padding: 20px;
                padding-bottom: 0px;
                padding-top: 30px;
                font-size: 14px;
            }
        }
    }

    .post_show_right_block_user{
        border: 1px solid #dddddd;
        border-top: 40px solid #596976;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        height: auto;
        padding: 15px;
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 0px;
            border-radius: 0px;
        }
        min-height: 300px;
        .post_show_right_info{
            .post_show_right_info_left{
                float: left;
                .post_show_right_user_avatar{
                    border: none;
                    position: relative;
                    top: -33px;
                    img{
                        border: 1px solid #eee;
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            .post_show_right_info_right{
                padding-left: 60px;
                .post_show_right_user_name{
                    a{
                        font-size: 18px;
                        font-weight: 600;
                        position: relative;
                        top: -15px;
                        color: #0f1419;
                    }
                }
            }
        }

        .post_show_right_user_info_block{
            position: relative;
            top: -20px;
            .post_show_right_user_info{
                padding-left: 5px;
                clear: left;
                padding-top: 10px;
                .post_show_right_user_info_label{
                    i{
                        padding-right: 5px;
                    }
                    a{
                        font-size: 14px;
                        font-weight: 600;
                        color: #536471;
                    }
                }

                .post_show_right_user_info_des{
                    span{
                        font-size: 14px;
                        color: #0f1419;
                    }
                }
            }
        }

        .post_show_right_user_follow{
            button{
                width: 100%;
                border: none;
                border-radius: 20px;
                background-color: #0071e3;
                height: 40px;
                color: #fff;
                font-size:14px;
                font-weight: 600;
                &:focus {outline:none;}
            }

            .btn_highlight
            {
                button{
                    background-color: #0071e3;
                    color: #fff;
                }
            }

            .btn_normal{
                button{
                    background-color: #fff;
                    color: #536471;
                    border: 1px solid #0c87ee;
                }
            }
        }
    }

    .post_show_right_user_post{
        border: 1px solid #dddddd;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
        }
        background-color: #fff;
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 10px;
        }
        padding-bottom: 30px;
        border-radius: 5px;
        min-height: 300px;
        .post_show_right_title{
            font-size: 20px;
            font-weight: 600;
            padding: 15px;
            a{ 
                text-decoration: none;
            }
        }

        .post_show_right_content{
            border-top: 1px solid #dddddd;
            padding: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
            min-height: auto;
            clear: left;
            .post_show_right_post_block{
                display: block;
                a{
                    text-decoration: none;
                    color: #0f1419;
                    font-size: 16px;
                    &:hover{
                        color: #0071e3;
                    };
                }
            }

            .post_show_right_topic_block{
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
                min-height: 20px;
                button{
                    margin-bottom: 5px;
                    border: none;
                    border-radius: 3px;
                    padding: 3px;
                    padding-left: 5px;
                    padding-right: 5px;
                    background-color: #f0f2f5;
                    color: #536471;
                    font-size: 14px;
                    font-weight: 500;
                    &:focus {outline:none;}
                    float: left;
                    margin-right: 5px;
                    &:hover{
                        color: #0071e3;
                    }
                }
            }
        }
    }

}

//////////////////////new////////////////////
.new_post_container{
    background-color: #f0f2f5;
    @media screen and (min-width: 600px){
        min-height: 900px;
    }
    .new_post_title{
        font-size: 22px;
        color: #0f1419;
        text-align: left;
        margin-top: 30px;
        font-weight: 536471;
        @media screen and (max-width: 600px){
            padding-left: 15px;
            padding-right: 15px;
        }
        a{
            text-decoration: none;
        }
        i{
            position: relative;
            top: -3px;
        }
    }

    .new_post_tab_link{
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 10px;
        }
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border: 1px solid #dddddd;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid #dddddd;
        }
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #0f1419;
            text-align: center;
            i{
                position: relative;
                top: -1px;
                padding-right: 3px;
            }
            span{
                position: absolute;
                top: 1px;
                right: 15px;
                font-size: 12px;
                color: #596976;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 2px solid #0071e3;
            // background-color: #e1ecf4;
            font-weight: 600;
            color: #0071e3;
            font-size: 16px;
            span{
                color: #0071e3;
            }
        }
    }

    .new_post_tab_content{
        display: block;
        .new_post_share_item{
            margin-top: 20px;
            @media screen and (max-width: 600px){
                margin-top: 10px;
            }
        }
        .new_post_form
        {
            border: 1px solid #dddddd;
            @media screen and (max-width: 600px){
                border: none;
                border-radius: 0px;
                padding-bottom: 10px;
            }
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #fff;
            .new_post_section
            {
                padding-top: 10px;
                .new_post_label_name{
                    font-weight: 550;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                    padding-top: 10px;
                }
                .new_post_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    width: 100%;
                    height: auto;
                    .form-control-rich-text{
                        min-height: 150px;
                        height: auto;
                        margin-left: 0px;
                        width: 100%;
                        border: 1px solid #eee;
                        border-radius: 5px;
                        font-size: 14px;
                        &:focus{
                            border: 2px solid #0071e3;
                            border-radius: 5px;
                        }
                    }
                    .form-control{
                        margin-left: 0px;
                        min-height: 40px;
                        height: auto;
                        width: 100%;
                        border: 1px solid #eee;
                        border-radius: 5px;
                        font-size: 14px;
                        &:focus{
                            border: 2px solid #0071e3;
                            border-radius: 5px;
                        }
                    }
                }

                .new_image_input{
                    border: 1px dashed #dddddd;
                    border-radius: 5px;
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    min-height: 150px;
                    width: 100%;
                    height: auto;
                    font-size: 14px;
            
                    .new_image_preview{
                        padding-bottom: 10px;
                        padding-top: 20px;
                        display: block;
                        img{
                            width: 100%;
                            height: 300px;
                            // border-radius: 5px;
                            object-fit: cover;
                            margin-bottom: 10px;
                        }
                    }
                }

                .new_podcast_input{
                    border: 1px dashed #dddddd;
                    border-radius: 5px;
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    min-height: 300px;
                    width: 100%;
                    height: auto;
                    font-size: 14px;
                }
            }
        }
        
        .new_post_topic_section
        {
            margin-top: 10px;
            .new_post_topic_label_name{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
                padding-top: 10px;
            }
            .new_post_topic_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 10px;
                width: 100%;
                height: auto;
                .form-control{
                    margin-left: 0px;
                    min-height: 40px;
                    height: auto;
                    width: 100%;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    font-size: 14px;
                    &:focus{
                        border: 2px solid #0071e3;
                        border-radius: 5px;
                    }
                    
                    @media screen and (max-width: 600px){
                        border: none;
                        border-radius: 0px;
                    }
                }
            }
        }
        
        .new_post_submit{
            margin-top: 20px;
            margin-bottom: 20px;
            @media screen and (max-width: 600px){
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
            .new_post_form_submit{
                height: 44px;
                width: 150px;
                @media screen and (max-width: 600px){
                    width: 100%;
                }
                border-radius: 22px;
                padding: 6px;
                background: #0071e3;
                font-size: 14px;
                font-weight: 600;
                border: none;
                cursor: pointer;
                text-align: center;
                color: #fff;
                
                &:hover{
                    background-color: #0071e3;
                }
            }
        }
    }

    .new_post_policy{
        border: 1px solid #dddddd;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
        }
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
        margin-top: 80px;
        @media screen and (max-width: 600px){
            margin-top: 20px;
        }
        .new_post_policy_title{
            a{
                text-align: left;
                font-size: 22px;
                color: #0f1419;
                font-weight: 550;
            }
            padding-bottom: 5px;
            border-bottom: 1px solid #dfe1e5;
        }

        .new_post_policy_content{
            .new_post_policy_content_index{
                font-size: 16px;
                padding-top: 10px;
                // padding-bottom: 5px;
            }

            .new_post_policy_content_link{
                font-weight: 600;
                font-size: 16px;
                padding-top: 15px;
            }
        }
    }
}

/////////////////////share-form//////////////
.new_post_share_container{
    background-color: #f0f2f5;
    @media screen and (min-width: 600px){
        min-height: 900px;
    }
    .new_post_share_title{
        font-size: 22px;
        color: #0f1419;
        text-align: left;
        margin-top: 30px;
        font-weight: 536471;
        a{
            text-decoration: none;
        }
        i{
            position: relative;
            top: -3px;
        }
    }

    .new_post_share_content{
        display: block;
        .new_post_share_share_section{
            margin-top: 20px;
            @media screen and (max-width: 600px){
                margin-top: 10px;
            }
        }
        .new_post_share_form
        {
            border: 1px solid #dddddd;
            @media screen and (max-width: 600px){
                border: none;
                border-radius: 0px;
            }
            border-radius: 5px;
            padding: 15px;
            background-color: #fff;
            .new_post_share_section
            {
                padding-top: 10px;
                .new_post_share_label{
                    font-weight: 550;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                    padding-top: 10px;
                }
                .new_post_share_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    width: 100%;
                    height: auto;
                    .form-control{
                        margin-left: 0px;
                        min-height: 40px;
                        width: 100%;
                        border: 1px solid #dddddd;
                        border-radius: 5px;
                        &:focus{
                            border: 2px solid #0071e3;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        .new_post_share_topic_section
        {
            margin-top: 10px;
            .new_post_share_topic_label_name{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
                padding-top: 10px;
            }
            .new_post_share_topic_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 10px;
                width: 100%;
                height: auto;
                .form-control{
                    margin-left: 0px;
                    min-height: 40px;
                    height: auto;
                    width: 100%;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    font-size: 14px;
                    &:focus{
                        border: 2px solid #0071e3;
                        border-radius: 5px;
                    }
                    
                    @media screen and (max-width: 600px){
                        border: none;
                        border-radius: 0px;
                    }
                }
            }
        }
        
        .new_post_share_submit{
            margin-top: 30px;
            margin-bottom: 30px;
            .new_post_share_form_submit{
                height: 44px;
                width: 150px;
                @media screen and (max-width: 600px){
                    width: 100%;
                }
                border-radius: 22px;
                padding: 6px;
                background: #0071e3;
                font-size: 14px;
                font-weight: 600;
                border: none;
                cursor: pointer;
                text-align: center;
                color: #fff;
                
                &:hover{
                    background-color: #0071e3;
                }
            }
        }
    }

    .new_post_share_policy{
        border: 1px solid #dddddd;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
        }
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
        margin-top: 80px;
        @media screen and (max-width: 600px){
            margin-top: 20px;
        }
        .new_post_share_policy_title{
            a{
                text-align: left;
                font-size: 22px;
                color: #0f1419;
                font-weight: 550;
            }
            padding-bottom: 5px;
            border-bottom: 1px solid #dfe1e5;
        }

        .new_post_share_policy_content{
            .new_post_share_policy_content_index{
                font-size: 16px;
                padding-top: 10px;
                // padding-bottom: 5px;
            }

            .new_post_share_policy_content_link{
                font-weight: 600;
                font-size: 16px;
                padding-top: 15px;
            }
        }
    }
}