// Place all the styles related to the PostComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post_comment_block{
    clear: right;
    clear: left;
    margin-top: 20px;
    /*border-top: 1px solid #dfe1e5;*/
    .post_comment_left_block{
        float: left;
        .post_comment_user_avatar{
            border: none;
            margin-right: 5px;
            img{
                border: 1px solid #dbdbdb;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .post_comment_user_text{
            .post_comment_name_label{
                border-radius: 50%;
                background-color: #dfe1e5;
                padding: 4px;
                padding-left: 8px;
                padding-right: 8px;
                margin-right: 5px;
                color: #fee;
                text-decoration: none;
            }
        }
        .checked_0{
            background-color: #888;
        }
        .checked_1{
            .user_name_label{
                background-color: #7a20a1;
            }
        }
        .checked_2{
            .user_name_label{
                background-color: #778f99;
            }
        }
        .checked_3{
            .user_name_label{
                background-color: #00579c;
            }
        }
        .checked_4{
            .user_name_label{
                background-color: #33691e;
            }
        }
        .checked_5{
            .user_name_label{
                background-color: #c2175b;
            }
        }
        .checked_6{
            .user_name_label{
                background-color: #00887a;
            }
        }
        .checked_7{
            .user_name_label{
                background-color: #aa47bc;
            }
        }
        .checked_8{
            .user_name_label{
                background-color: #f24e1b;
            }
        }
        .checked_9{
            .user_name_label{
                background-color: #689f39;
            }
        }
    }
    .post_comment_right_block{
        margin-left: 12px;
        display: block;
        .post_comment_info{
            a{
                font-size: 14px;
                font-weight: 600;
                color: #666;
            }
            span{
                font-size: 12px;
                color: #888;
            }
        }

        .post_comment_right{
            margin-top: 10px;
            padding-left: 10px;
            border-left: 2px solid #eeeeee;
            .post_comment_cotent{
                padding-left: 8px;
                font-size: 14px;
            }
            
            .post_comment_reply_toolbar{
                .post_comment_index_vote_unvote_block{
                    background-color: #fff;
                    position: relative;
                    top: 6px;
                    .post_comment_index_vote_block{
                        float: left;
                        button{
                            background-color: #fff;
                            border: none;
                            &:focus {outline:none;}
                        }
                    }
                    .post_comment_index_vote_unvote_count{
                        background-color: #fff;
                        float: left;
                        font-size: 13px;
                        font-weight: 600;
                        text-decoration: none;
                        color: #666;
                        padding-left: 3px;
                        padding-right: 3px;
                        position: relative;
                        top: 5px;
                    }
                    .post_comment_index_unvote_block{
                        float: left;
                        button{
                            background-color: #fff;
                            border: none;
                            &:focus {outline:none;}
                        }
                    }
                }
                .post_comment_reply_block{
                    position: relative;
                    top: 4px;
                    padding-left: 10%;
                    .post_comment_reply_btn
                    {
                        border: none;
                        background-color: #fff;
                        color: #555;
                        font-size: 13px;
                        &:focus {outline:none;}
        
                        button{
                            border: none;
                            background-color: #fff;
                            color: #555;
                            font-size: 13px;
                            &:focus {outline:none;}
                        } 
                        a{
                            font-size: 13px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }
        
                        i{
                            font-size: 18px;
                            position: relative;
                            color: #555;
                        }
                        span{
                            font-size: 13px;
                            color: #666;
                        }
                    }
                }
            }

            .post_reply_comment_new{
                display: block;
                padding-left: 8px;
                .post_reply_comment_section{
                    margin-bottom: 15px;
                    margin-top: 5px;
                    display: block;
                    .post_reply_comment_input{
                        width: 100%;
                        margin-top: 10px;
                        .form-control{
                            border-radius: 5px;
                            height: 30px;
                        }
                    }
                    .post_reply_comment_submit{
                        .post_reply_comment_form_submit{
                            margin-top: 5px;
                            width: 100px;
                            border: none;
                            border-radius: 20px;
                            background-color: #4f46e5;
                            height: 30px;
                            color: #fff;
                            font-size:14px;
                            &:focus {outline:none;}
                        }
                    }
                }
            }

            .post_comment_reply_container{
                .post_reply_comment_render{
                    font-size: 14px;
                }
            }
        }
    }
}

