html, body
{
    font-family: 'Roboto', Sans-serif;
}

head {
    font-family: 'Roboto', Sans-serif;
}

body {
    font-family: 'Roboto', Sans-serif;
}

footer{
    font-family: 'Roboto', Sans-serif;
}