// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
///////////////////////////show////////////////////////
.tag_show_container{
    background-color: #eef0f1;
    min-height: 900px;
    padding-top: 20px;
    .tag_show_info{
        border: 1px solid #dfe1e5;
        border-top: 10px solid #666;
        background-color: #fff;
        border-radius: 5px;
        min-height: 100px;
        padding: 15px;
        .tag_show_info_avatar{
            float: left;
            img{ 
                display: block;
                width: 60px;
                height: 60px;
                border: 1px solid #eee;
                object-fit: cover;
            }
            display: block;
        }

        .tag_show_info_data{
            padding-left: 80px;
            .tag_show_info_title{
                font-size: 22px;
                font-weight: 600;
            }
            .tag_show_info_des{
                font-size: 14px;
            }
        }

        .tag_show_follow_block{
            float: right;
            button{
                width: 100px;
                text-align: center;
                margin-top: 10px;
                border: 1px solid #dfe1e5;
                border-radius: 20px;
                padding: 5px;
                font-size: 13px;
                font-weight: 600;
                &:focus {outline:none;}
            }
            .follow_btn_highlight
            {
                button{
                    background-color: #4f46e5;
                    color: #fff;
                }
            }

            .follow_btn{
                button{
                    background-color: #fff;
                    color: #555;
                }
            }
        }
    }

    .tag_show_middle{
        margin-top: 20px;
        .tag_show_tag_new{
            border: 1px dashed #dfe1e5;
            background-color: #fff;
            padding: 15px;
            .tag_show_new_tag{
                button{
                    width: 100%;
                    height: 44px;
                    border-radius: 22px;
                    padding: 6px;
                    background: #fff;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #4f46e5;
                    i{
                        color: #4f46e5;
                    }
                }
            }

        }
        .tag_show_post_sort{
            border: 1px solid #dfe1e5;
            background-color: #fff;
            padding: 15px;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            .tag_show_post_tab_link{
                overflow: hidden;
                position: relative;
                display: block;
                .nav {
                    overflow-x: auto;
                    overflow-y: hidden;
                    flex-wrap: nowrap;
                }
                .nav .nav-link {
                    white-space: nowrap;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                    i{
                        position: relative;
                        top: -3px;
                        padding-right: 3px;
                    }
                }
                .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
                    border: none;
                    color: #333;
                    font-size: 16px;
                }
                .nav .nav-link.active {
                    border-radius: 0;
                    border-bottom: 3px solid #4f46e5;
                    font-weight: 500;
                    color: #4f46e5;
                }
            }
        }
        .tag_show_tag_tab_content{
            padding-top: 20px;
        }
    }
    .tag_show_right{
        border: 1px solid #dfe1e5;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 5px;
        min-height: 300px;
        .tag_show_right_title{
            font-size: 22px;
            font-weight: 600;
            padding: 15px;
        }

        .tag_show_right_content{
            border-top: 1px solid #dfe1e5;
            padding: 15px;
            a{
                text-decoration: none;
                color: #222;
                font-size: 16px;
                &:hover{
                    color: #4f46e5;
                };
            }
        }
    }
}

///////////////////////index///////////////////////////
.tag_index_container{
	background-color: #eef0f1;
	min-height: 700px;
    .tag_index_new{
        button{
            margin-top: 15px;
            width: 100px;
            border: none;
            border-radius: 5px;
            background-color: #4f46e5;
            height: 40px;
            color: #fff;
            font-size:14px;
            font-weight: 600;
            &:focus {outline:none;}
        }
    }
	.tag_index_block{
		min-height: 150px;
		border: 1px solid #dfe1e5;
        border-top: 20px solid #555;
		margin-top: 20px;
		border-radius: 5px;
		padding: 15px;
		background-color: #fff;

        .tag_index_info{
            width: 70%;
            float: left;
            .tag_index_name{
                a{
                    font-size: 20px;
                    font-weight: 600;
                    color: #333;
                    text-decoration: none !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
            .tag_index_count{
                padding-top: 10px;
                font-size: 13px;
                color: #666;
            }
        }
        .tag_index_avatar{
            float: right;
            img{ 
                display: block;
                width: 60px;
                height: 60px;
                border: 1px solid #eee;
                object-fit: cover;
            }
            display: block;
        }
        .tag_index_description{
            clear: both;
            padding-top: 10px;
            font-size: 14px;
            color: #444;

        }
		.tag_index_follow_block{
            button{
                width: 100px;
                text-align: center;
                margin-top: 10px;
                border: 1px solid #dfe1e5;
                border-radius: 20px;
                padding: 5px;
                font-size: 13px;
                font-weight: 600;
                &:focus {outline:none;}
            }
            .follow_btn_highlight
            {
                button{
                    background-color: #4f46e5;
                    color: #fff;
                }
            }

            .follow_btn{
                button{
                    background-color: #fff;
                    color: #555;
                }
            }
        }
	}
}

//////////////////////////new/////////////////////////
.new_tag_form
{
    margin-bottom: 50px;
    .new_tag_title{
        font-size: 22px;
        color: #333;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 20px;
        font-weight: 550;
    }
    
    .new_tag_title_sub{
        span{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
        }
    }

    .new_tag_section
    {
		border: 1px solid #e5e7ec;
		padding: 15px;
		border-radius: 5px;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-top: 10px;
        .new_tag_content{
            .new_tag_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
                padding-top: 10px;
            }

            .new_tag_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                .new_tag_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 5px;
                }

                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 5px;
                    &:focus{
                        border: 2px solid #4f46e5;
                        border-radius: 5px;
                    }
                }

                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 5px;
                }
            }
        }
    }

    .new_tag_submit{
        width: 100%;
        padding-top: 20px;
        .new_tag_form_submit{
            height: 44px;
            width: 100%;
            border-radius: 22px;
            padding: 6px;
            background: #4f46e5;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #4f46e5;
            }
        }
    }
}