// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
///////////////////////////show////////////////////////
.topic_show_container{
    background-color: #f0f2f5;
    min-height: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
    .topic_show_info{
        border: 1px solid #e0e2e5;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
        }
        background-color: #fff;
        border-radius: 5px;
        min-height: 100px;
        .topic_show_info_cover{
            img{ 
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                display: block;
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
        }

        .topic_show_info_avatar{
            display: flex;
            justify-content: center;
            img{ 
                position: relative;
                top: -15px;
                width: 80px;
                height: 80px;
                border: 5px solid #fff;
                background-color: #fff;
                border-radius: 8px;
                object-fit: cover;
            }
        }

        .topic_show_info_data{
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            .topic_show_info_title{
                font-size: 22px;
                font-weight: 600;
            }
            .topic_show_info_count{
                font-size: 14px;
                color: #536471;
            }
            .topic_show_info_des{
                font-size: 14px;
                padding-top: 10px;
            }
        }

        .topic_show_action_block{
            display: flex;
            justify-content: center;
            .topic_show_follow_block{
                padding-bottom: 15px;
                button{
                    width: 100px;
                    text-align: center;
                    margin-top: 10px;
                    border: 1px solid #e0e2e5;
                    border-radius: 20px;
                    padding: 5px;
                    font-size: 13px;
                    font-weight: 600;
                    color: #536471;
                    &:focus {outline:none;}
                }
                .btn_highlight
                {
                    button{
                        background-color: #5865f2;
                        color: #fff;
                    }
                }
    
                .btn_normal{
                    button{
                        background-color: #fff;
                        color: #536471;
                    }
                }
            }
            .topic_show_info_action{
                margin-left: 5px;
                position: relative;
                top: 12px;
                .topic_show_option_btn{
                    border: none;
                    background-color: #e0e2e5;
                    border-radius: 30px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
        }
    }

    .topic_show_middle{
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 10px;
        }
        
        .topic_show_post_sort{
            border: 1px solid #e0e2e5;
            @media screen and (max-width: 600px){
                border: none;
                border-radius: 0px;
                margin-top: 10px;
            }
            background-color: #fff;
            padding: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 5px;
            margin-top: 20px;
            .topic_show_post_tab_link{
                overflow: hidden;
                position: relative;
                display: block;
                .nav {
                    overflow-x: auto;
                    overflow-y: hidden;
                    flex-wrap: nowrap;
                }
                .nav .nav-link {
                    white-space: nowrap;
                    font-size: 16px;
                    color: #444;
                    text-align: left;
                    i{
                        position: relative;
                        top: -3px;
                        padding-right: 3px;
                    }
                }
                .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
                    border: none;
                    color: #444;
                    font-size: 16px;
                }
                .nav .nav-link.active {
                    background-color: #eee;
                    border-radius: 20px;
                    font-weight: 600;
                    color: #5865f2;
                }
            }
        }
        .topic_show_post_tab_content{
            padding-top: 20px;
            padding-bottom: 20px;
            @media screen and (max-width: 600px){
                padding-top: 10px;
            }
        }
        .topic_show_pagination_button{
            padding: 4px;
            text-align: center;
            background-color: #fff;
            border: 2px solid #e0e2e5;
            border-radius: 20px;
            margin-top: 20px;
            a{
                font-size: 13px;
                font-weight: 600;
                color: #5865f2;
            }
        }
    }

    .topic_show_middle_not_found_block{
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #e0e2e5;
        padding: 30px 15px 30px 15px;
        border-radius: 4px;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
            margin-top: 10px;
        }
        .topic_show_middle_not_found_icon{
            i{
                font-size: 30px;
                color: #666;
            }
            text-align: center;
        }
        .topic_show_middle_not_found{
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 10px;
            color: #444;
        }
    }

    .topic_show_right{
        border: 1px solid #e0e2e5;
        @media screen and (max-width: 600px){
            border: none;
            border-radius: 0px;
        }
        background-color: #fff;
        margin-top: 20px;
        @media screen and (max-width: 600px){
            margin-top: 10px;
        }
        border-radius: 5px;
        min-height: 300px;
        .topic_show_right_title{
            font-size: 22px;
            font-weight: 600;
            padding: 15px;
            a{
                text-decoration: none;
            }
        }

        .topic_show_right_post_block{
            border-top: 1px solid #e0e2e5;
            padding: 15px;
            a{
                text-decoration: none;
                color: #0f1419;
                font-size: 16px;
                &:hover{
                    color: #5865f2;
                };
            }
        }
        .topic_show_right_topic_block{
            margin-top: 10px;
            margin-bottom: 10px;
            display: none;
            min-height: 20px;
            button{
                margin-bottom: 5px;
                border: none;
                border-radius: 5px;
                background-color: #fff;
                padding: 3px;
                color: #5865f2;
                font-size: 14px;
                font-weight: 500;
                &:focus {outline:none;}
                float: left;
                margin-right: 5px;
                &:hover{
                    background-color: #5865f2;
                    color: #fff;
                }
            }
        }
    }
}

///////////////////////index///////////////////////////
.topic_index_container{
	background-color: #f0f2f5;
	min-height: 700px;
    padding-bottom: 20px;
    .topic_index_new{
        button{
            margin-top: 15px;
            padding: 10px;
            min-width: 150px;
            border: none;
            background-color: #5865f2;
            height: 44px;
            border-radius: 22px;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            &:focus {outline:none;}
        }
    }
}

///////////////////////topic///////////////////////////
.topic_mini_index_block{
    .topic_mini_index_topic_avatar{
        float: left;
        display: block;
        margin-right: 10px;
        // padding-top: 5px;
        img{
            width: 77px;
            height: 77px;
            border: 1px solid #f0f2f5;
            border-radius: 5px;
            object-fit: cover;
        }
    }
    .topic_mini_index_topic_block{
        display: block;
        .topic_mini_index_topic_name_block{
            a{
                text-decoration: none;
                color: #333;
                font-weight: 600;
                font-size: 16px;
                &:hover{
                    color: #5865f2;
                };
            }
        }
    
        .topic_mini_index_topic_nickname_block{
            position: relative;
            top: -5px;
            span{
                color: #536471;
                font-size: 13px;
            }
        }
    
        .topic_mini_index_topic_follow_block{
            button{
                width: 100px;
                text-align: center;
                border: 1px solid #e0e2e5;
                border-radius: 20px;
                padding: 3px;
                font-size: 13px;
                font-weight: 600;
                &:focus {outline:none;}
                color: #444;
            }
            .btn_highlight
            {
                button{
                    background-color: #5865f2;
                    color: #fff;
                }
            }
    
            .btn_normal{
                button{
                    border: 1px solid #5865f2;
                    background-color: #fff;
                    color: #444;
                }
            }
        }
    }
}

.topic_index_block{
    border: 1px solid #e0e2e5;
    @media screen and (max-width: 600px){
        border: none;
        border-radius: 0px;
    }
    margin-top: 20px;
    @media screen and (max-width: 600px){
		margin-top: 10px;
	}
    border-radius: 5px;
    background-color: #fff;

    .topic_index_cover{
        img{ 
            display: block;
            width: 100%;
            height: 60px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
    .topic_index_avatar{
        display: flex;
        justify-content: center;
        img{ 
            position: relative;
            top: -15px;
            display: block;
            width: 60px;
            height: 60px;
            border: 3px solid #fff;
            background-color: #fff;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    .topic_index_info_action{
        position: absolute;
        right: 25px;
        top: 28px;
        @media screen and (max-width: 600px){
            right: 7px;
            top: 15px;
        }
        .topic_index_close_btn{
            border: none;
            background-color: #f0f2f5;
            color: #596976;
            border-radius: 30px;
            opacity: 0.8;
        }
    }

    .topic_index_info{
        padding-left: 15px;
        padding-right: 15px;
        text-align:center ;
        .topic_index_name{
            a{
                font-size: 20px;
                font-weight: 600;
                color: #0f1419;
                text-decoration: none !important;
            }
        }
        .topic_index_count{
            padding-top: 10px;
            font-size: 13px;
            color: #536471;
        }
    }

    .topic_index_description{
        padding-left: 15px;
        padding-right: 15px;
        text-align:center ;
        clear: both;
        padding-top: 10px;
        font-size: 14px;
        color: #596976;
        min-height: 100px;
    }

    .topic_index_follow_block{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        button{
            width: 100px;
            text-align: center;
            margin-top: 10px;
            border: 1px solid #e0e2e5;
            border-radius: 20px;
            padding: 5px;
            font-size: 13px;
            font-weight: 600;
            color: #444;
            &:focus {outline:none;}
        }
        .btn_highlight
        {
            button{
                background-color: #5865f2;
                color: #fff;
            }
        }

        .btn_normal{
            button{
                background-color: #e0e2e5;
                color: #444;
            }
        }
    }
}

//////////////////////////new/////////////////////////
.new_topic_form
{
    background-color: #f0f2f5;
    padding-bottom: 30px;
    min-height: 900px;
    .new_topic_title{
        font-size: 24px;
        font-weight: 600;
        color: #0f1419;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .new_topic_section
    {
		border: 1px solid #e0e2e5;
		padding: 15px;
		border-radius: 5px;
        background-color: #fff;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        .new_topic_content{
            .new_topic_label{
                font-weight: 550;
                font-size: 16px;
                color: #0f1419;
                text-align: left;
            }

            .new_topic_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                .new_topic_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                }

                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                    &:focus{
                        border: 2px solid #5865f2;
                        border-radius: 5px;
                    }
                }

                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 5px;
                }
            }
        }
    }

    .new_topic_submit{
        width: 100%;
        .new_topic_form_submit{
            height: 44px;
            @media screen and (max-width: 600px){
                width: 100%;
            }
            width: 150px;
            border-radius: 22px;
            padding: 6px;
            background: #5865f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #5865f2;
            }
        }
    }
}