// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////new user registration////////////////////
.user_sign_up_container
{
    background-color: #ffffff;
    .user_sign_up_block
    {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 30%;
            margin-right: 30%;
            padding: 15px;
            border: 1px solid #dddddd;
        }
        @media screen and (max-width: 600px){
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .user_sign_up_label{
            .user_sign_up_title{
                text-align: left;
				font-weight: 550;
                a{
                    font-size: 25px;
                    color: #333;
                }
                padding-bottom: 10px;
            }
        }
        .user_sign_up_form_left
        {
            padding-top: 10px;
            .user_sign_up_content{
                clear: both;
                .user_sign_up_label{
                    font-weight: 550;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                }
                .user_sign_up_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    .form-control{
                        width: 100%;
                        height: 44px;
                        border: 1px solid #dddddd;
                        border-radius: 5px;
                        &:focus{
                            border: 2px solid #0071e3;
                            border-radius: 5px;
                        }
                    }
                }
            }
    
            .user_sign_up_submit{
				padding-top: 10px;
                .user_sign_up_form_submit{
                    width: 100%;
                    height: 44px;
                    border-radius: 25px;
                    padding: 6px;
                    background: #0071e3;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #0071e3;
                    }
                }
            }
        }
        
        .user_sign_up_or{
            font-size: 16px;
            color: #333;
            text-align: center;
            padding-top: 10px;
            a {
                overflow: hidden;
            }
            
            a:after {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-right: -45%;
                margin-left: 10px;
                border-top: 1px solid #dddddd;
            }

            a:before {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-left: -45%;
                margin-right: 10px;
                border-top: 1px solid #dddddd;
            }
        }

        .user_sign_up_form_right{
			display: block;
            padding-top: 10px;
            .user_sign_up_with_google{  
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 6px;
                    margin-bottom: 10px;
                    background: #fff;
                    border: 2px solid #ea4537;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #ea4537;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        padding-left: 10px;
                        margin-right: 5px;
                        color: #ea4537;
                        font-size: 30px;
                        position: relative;
                        top: -10px;
                    }
                    span{
                        position: relative;
                        top: -12px;
                    }
                    &:hover{
                        background-color: #ea4537;
                        color: #fff;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .user_sign_up_with_facebook{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    background: #fff;
                    border: 2px solid #0c87ee;
                    font-size: 16px;
                    // border: none;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #0c87ee;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        padding-left: 10px;
                        margin-right: 5px;
                        color: #0c87ee;
                        font-size: 30px;
                        position: relative;
                        top: -10px;
                    }
                    span{
                        position: relative;
                        top: -12px;
                    }
                    &:hover{
                        background-color: #0c87ee;
                        color: #fff;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
        
        .user_sign_up_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #0071e3;
            }
        }
    }
}

//////////////////new sign in sessions////////////////////
.user_signin_container{
    background-color: #fff;
    .user_signin_block{
        background-color: #fff;
        border-radius: 5px;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 30%;
            margin-right: 30%;
            padding: 15px;
            border: 1px solid #dddddd;
        }
        @media screen and (max-width: 600px){
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .user_signin_label{
            .user_signin_title{
                font-size: 25px;
                color: #333;
                text-align: left;
				font-weight: 550;
                padding-bottom: 10px;
            }
        }

        .user_signin_form_left
        {
            padding-top: 10px;
            .user_signin_content{
                clear: both;
                .user_signin_label{
                    font-weight: 550;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                }
    
                .user_signin_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    .form-control{
                        margin-left: 0px;
                        height: 44px;
                        width: 100%;
                        border: 1px solid #dddddd;
                        border-radius: 5px;
                        &:focus{
                            border: 2px solid #0071e3;
                            border-radius: 5px;
                        }
                    }
                }
            }

            .user_signin_remember{
                float: left;
                .user_signin_label_small{
                    font-size: 14px;
                    color: #555;
                    text-align: left;
                    font-weight: 300;
                }
            }

            .user_signin_forgot_pass{
                float: right;
                a{
                    color: #0071e3;
                }
            }
    
            .user_signin_submit{
                clear: both;
				padding-top: 20px;
                .user_signin_form_submit{
                    height: 44px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 6px;
                    background: #0071e3;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #0071e3;
                        color: #fff;
                    }
                }
            }
        }
        
        .user_signin_or{
            font-size: 16px;
            color: #444;
            text-align: center;
            padding-top: 10px;
            a {
                overflow: hidden;
            }
            
            a:after {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-right: -45%;
                margin-left: 10px;
                border-top: 1px solid #dddddd;
            }

            a:before {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-left: -45%;
                margin-right: 10px;
                border-top: 1px solid #dddddd;
            }
        }
    
        .user_signin_form_right{
			display: block;
            margin-top: 10px;
            .user_signin_with_google{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 6px;
                    margin-bottom: 10px;
                    background: #fff;
                    border: 2px solid #ea4537;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #ea4537;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        padding-left: 10px;
                        margin-right: 5px;
                        color: #ea4537;
                        font-size: 30px;
                        position: relative;
                        top: -10px;
                    }
                    span{
                        position: relative;
                        top: -12px;
                    }
                    &:hover{
                        background-color: #ea4537;
                        color: #fff;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .user_signin_with_facebook{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 22px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    background: #fff;
                    border: 2px solid #0c87ee;
                    font-size: 16px;
                    // border: none;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #0c87ee;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        padding-left: 10px;
                        margin-right: 5px;
                        color: #0c87ee;
                        font-size: 30px;
                        position: relative;
                        top: -10px;
                    }
                    span{
                        position: relative;
                        top: -12px;
                    }
                    
                    &:hover{
                        background-color: #0071e3;
                        color: #fff;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
    
        .user_signin_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #0071e3;
            }
        }
    }
}

//////////////////user change pass////////////////////
.user_change_pass_password{
    min-height: 700px;
    padding-top: 30px;
    .user_reset_pass_content{
        padding-top: 10px;
       .user_reset_pass_label{
            font-weight: 550;
            font-size: 16px;
            color: #555;
            text-align: left;   
           .user_reset_pass_label_name{

           }
        }
        .user_reset_pass_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
            .form-control{
                width: 100%;
                height: 44px;
                border: 1px solid #dddddd;
                border-radius: 5px;
                &:focus{
                    border: 2px solid #0071e3;
                    border-radius: 5px;
                }
            }
        } 
    }
    .user_reset_pass_submit{
        .user_reset_form_submit{
            width: 100%;
            @media screen and (min-width: 600px)
            {
                width: 300px;
            }
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #0071e3;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            &:hover{
                background-color: #0071e3;
            }
        }
    }

    .user_reset_pass_loginhere{
        padding-top: 20px;
        a{
            color: #0071e3;
        }
    }
}

//////////////////user password////////////////////
.user_reset_password{
    min-height: 700px;
    padding-top: 30px;
    .user_reset_pass_content{
        padding-top: 10px;
       .user_reset_pass_label{
            font-weight: 550;
            font-size: 16px;
            color: #555;
            text-align: left;   
           .user_reset_pass_label_name{

           }
        }
        .user_reset_pass_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
            .form-control{
                width: 100%;
                height: 44px;
                border: 1px solid #dddddd;
                border-radius: 5px;
                &:focus{
                    border: 2px solid #0071e3;
                    border-radius: 5px;
                }
            }
        } 
    }
    .user_reset_pass_submit{
        .user_reset_form_submit{
            width: 100%;
            @media screen and (min-width: 600px)
            {
                width: 300px;
            }
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #0071e3;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            &:hover{
                background-color: #0071e3;
            }
        }
    }

    .user_reset_pass_loginhere{
        a{
            color: #0071e3;
        }
    }
}

////////////////////////show-setting///////////////////////
.user_setting_dasboard{
    background-color: #f0f2f5;
    .user_setting_title{
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: 600px;
    }

    .user_setting_tab_link{
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border: 1px solid #dddddd;
        border-radius: 5px;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #333;
            text-align: left;
            i{
                position: relative;
                // top: 5px;
                padding-right: 3px;
            }
            span{
                position: absolute;
                top: 1px;
                right: 15px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 3px solid #0071e3;
            font-weight: 500;
            color: #0071e3;
            font-size: 16px;
            span{
                color: #0071e3;
            }
        }
    }

    .user_setting_tab_content{
        min-height: 800px;
        padding-top: 20px;
        padding-bottom: 20px;
        .user_setting_personal_tab{
            .user_setting_form{
                .user_setting_section{
                    background-color: #fff;
                    padding: 15px;
                    border-radius: 5px;
                    border: 1px solid #e5e7ec;
                    .user_setting_description{
                        font-size: 24px;
                        font-weight: 600;
                        padding-bottom: 15px;
                    }
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                    
                    .user_setting_content{
                        .user_setting_label{
                            font-size: 16px;
                            font-weight: 550;
                            color: #555;
                        }
                        .user_setting_input{
                            padding-bottom: 10px;
                            .form-control{
                                min-height: 40px;
                                height: auto;
                                margin-left: 0px;
                                width: 100%;
                                border: 1px solid #dddddd;
                                border-radius: 5px;
                                overflow: auto;
                                &:focus{
                                    border: 2px solid #0071e3;
                                    border-radius: 5px;
                                }
                            }

                            .form-control-rich-text{
                                min-height: 100px;
                                height: auto;
                                margin-left: 0px;
                                width: 100%;
                                border: 1px solid #dddddd;
                                border-radius: 5px;
                                overflow: auto;
                                &:focus{
                                    border: 2px solid #0071e3;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            
                .user_setting_submit{
                    .user_setting_form_submit{
                        width: 100%;
                        margin-top: 10px;
                        height: 44px;
                        border-radius: 22px;
                        padding: 6px;
                        background: #0071e3;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                        text-align: center;
                        color: #fff;
                        
                        &:hover{
                            background-color: #0071e3;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .user_setting_noti_tab{
            .user_setting_form{
                .user_setting_section{
                    background-color: #fff;
                    padding: 15px;
                    border-radius: 5px;
                    border: 1px solid #e5e7ec;
                    .user_setting_description{
                        font-size: 24px;
                        font-weight: 600;
                        padding-bottom: 15px;
                    }
                    @media screen and (max-width: 600px){
                        border: none;
                        border-top: 1px solid #e5e7ec;
                        padding: 0px;
                        padding-top: 20px;
                        border-radius: 0px;
                    }
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                    
                    .user_setting_content{
                        .user_setting_check_box{
                            padding-top: 10px;
                            span{
                                // font-size: 30px;
                            }
                        }
                    }
                }

                .user_setting_submit{
                    .user_setting_form_submit{
                        width: 100%;
                        margin-top: 10px;
                        height: 44px;
                        border-radius: 22px;
                        padding: 6px;
                        background: #0071e3;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                        text-align: center;
                        color: #fff;
                        
                        &:hover{
                            background-color: #0071e3;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

///////////////////////show-profile//////////////////////
.user_profile_dasboard{
    background-color: #f0f2f5;
    .user_show_info_block{
        margin-top: 20px;
        background-color: #fff;
        border: 1px solid #dddddd;
        min-height: 200px;
        border-radius: 5px;
        .user_show_info{
            .user_show_info_cover_image{
                img{ 
                    display: block;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                display: block;
            }
            .user_show_info_avatar{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding-left: 15px;
                position: relative;
                top: -40px;
                float: left;
                img{ 
                    display: block;
                    width: 100px;
                    height: 100px;
                    border: 1px solid #eee;
                    object-fit: cover;
                    border-radius: 50%;
                }
                display: block;
            }

            .user_show_info_follow{
                float: right;
                padding-right: 20px;
                button{
                    margin-top: 15px;
                    width: 100px;
                    border: none;
                    border-radius: 20px;
                    background-color: #0071e3;
                    height: 40px;
                    color: #fff;
                    font-size:14px;
                    font-weight: 600;
                    &:focus {outline:none;}
                }
                .follow_btn_highlight
                {
                    button{
                        background-color: #0071e3;
                        color: #fff;
                    }
                }

                .follow_btn{
                    button{
                        background-color: #dddddd;
                        color: #555;
                    }
                }
            }
        }

        .user_show_info_data{
            position: relative;
            top: -30px;
            clear: both;
            padding: 15px;
            padding-bottom: 0px;
            .user_show_info_name{
                font-size: 20px;
                font-weight: 600;
                color: #333;
            }

            .user_show_info_introduce{
                padding-top: 10px;
                clear: both;
                font-size: 14px;
                font-weight: 500;
                color: #333;
            }

            .user_show_info_des{
                padding-top: 10px;
                i{
                    margin-right: 5px;
                    color: #64707d;
                    position: relative;
                    top: -2px;
                }
                span{
                    font-size: 14px;
                    color: #333;
                }
            }

            .user_show_info_follow{
                margin-top: 10px;
                span{
                    font-size: 15px;
                    font-weight: 600;
                    color: #555;
                }
                a{
                    font-size: 14px;
                    padding-right: 10px;
                }
            }
        }
    }

    .user_profile_tab_link{
        margin-top: 20px;
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border: 1px solid #dddddd;
        border-radius: 5px;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        @media screen and (min-width: 600px){
            .nav::-webkit-scrollbar {
                width: 1px;
                height: 6px;
            }
    
            .nav::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 2px rgba(83, 82, 82, 0.1); 
                border-radius: 10px;
            }
    
            .nav::-webkit-scrollbar-thumb {
                border-radius: 10px;
                // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1);
                background-color: #c5c5c5; 
                width: 100px;
            }
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #333;
            text-align: left;
            i{
                position: relative;
                // top: 5px;
                padding-right: 3px;
            }
            span{
                position: relative;
                top: -10px;
                // right: 15px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 3px solid #0071e3;
            font-weight: 600;
            color: #0071e3;
            font-size: 16px;
            span{
                color: #0071e3;
            }
        }
    }

    .user_profile_tab_content{
        min-height: 800px;
        // background-color: #fff;
        // border: 1px solid #dddddd;
        // border-radius: 5px;
        margin-top: 20px;
        // padding: 15px;
        .user_profile_post_tab{
        }
    }
}

//////////////index///////////////////////////////////////
.user_index_block{
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    .user_index_name{
        text-align: center;
        a{
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            color: #0071e3;
            font-weight: 600;
        }
    }

    .user_index_avatar{
        display: flex;
        justify-content: center;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50px;
            border: 1px solid #dddddd;
        }
    }
    .user_index_nickname{
        text-align: center;
    }

    .user_index_follow{
        text-align: center;
        margin-top: 10px;
        button{
            width: 150px;
            border: none;
            border-radius: 20px;
            background-color: #0071e3;
            height: 40px;
            color: #fff;
            font-size:14px;
            font-weight: 600;
            &:focus {outline:none;}
        }
    }
}