//////////////////new user registration////////////////////
.user_sign_up_container
{
    background-color: #ffffff;
    .user_sign_up_block
    {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 30%;
            margin-right: 30%;
            padding: 15px;
            border: 1px solid #dfe1e5;
        }
        @media screen and (max-width: 600px){
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .user_sign_up_label{
            .user_sign_up_title{
                text-align: left;
				font-weight: 550;
                a{
                    font-size: 25px;
                    color: #333;
                }
                padding-bottom: 10px;
            }
        }
        .user_sign_up_form_left
        {
            padding-top: 10px;
            .user_sign_up_content{
                clear: both;
                .user_sign_up_label{
                    font-weight: 550;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                }
                .user_sign_up_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    .form-control{
                        width: 100%;
                        height: 50px;
                        border: 1px solid #dfe1e5;
                        border-radius: 3px;
                        &:focus{
                            border: 2px solid #1877f2;
                            border-radius: 3px;
                        }
                    }
                }
            }
    
            .user_sign_up_submit{
				padding-top: 10px;
                .user_sign_up_form_submit{
                    width: 100%;
                    height: 50px;
                    border-radius: 3px;
                    padding: 6px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #369;
                    }
                }
            }
        }
        
        .user_sign_up_or{
            font-size: 16px;
            color: #333;
            text-align: center;
            padding-top: 10px;
            a {
                overflow: hidden;
            }
            
            a:after {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-right: -45%;
                margin-left: 10px;
                border-top: 1px solid #dfe1e5;
            }

            a:before {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-left: -45%;
                margin-right: 10px;
                border-top: 1px solid #dfe1e5;
            }
        }

        .user_sign_up_form_right{
			display: block;
            padding-top: 10px;
            .login_with_google{  
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 10px;
                    background: #fff;
                    border: 2px solid #ea4537;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #ea4537;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        margin-right: 10px;
                        color: #ea4537;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #ea4537;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_facebook{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    background: #fff;
                    border: 2px solid #0c87ee;
                    font-size: 16px;
                    // border: none;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #0c87ee;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        margin-right: 5px;
                        color: #0c87ee;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    
                    &:hover{
                        background-color: #1877f2;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_phone{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    background: #fff;
                    font-size: 16px;
                    border: 1px solid #444;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #444;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        margin-right: 8px;
                        color: #444;
                        font-size: 25px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #444;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
        
        .user_sign_up_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            font-family: 'Roboto', Sans-serif;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #1877f2;
            }
        }
    }
}

//////////////////new sign in sessions////////////////////
.user_signin_container{
    background-color: #fff;
    .user_signin_block{
        background-color: #fff;
        border-radius: 5px;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 30%;
            margin-right: 30%;
            padding: 15px;
            border: 1px solid #dfe1e5;
        }
        @media screen and (max-width: 600px){
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .user_signin_label{
            .user_signin_title{
                font-size: 25px;
                color: #333;
                text-align: left;
				font-weight: 550;
                padding-bottom: 10px;
            }
        }

        .user_signin_form_left
        {
            padding-top: 10px;
            .user_signin_content{
                clear: both;
                .user_signin_label{
                    font-weight: 550;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                }
    
                .user_signin_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    .form-control{
                        margin-left: 0px;
                        height: 50px;
                        width: 100%;
                        border: 1px solid #dfe1e5;
                        border-radius: 3px;
                        &:focus{
                            border: 2px solid #1877f2;
                            border-radius: 3px;
                        }
                    }
                }
            }

            .user_signin_remember{
                float: left;
                .user_signin_label_small{
                    font-size: 14px;
                    color: #555;
                    text-align: left;
                    font-weight: 300;
                }
            }

            .user_signin_forgot_pass{
                float: right;
                a{
                    color: #1877f2;
                }
            }
    
            .user_signin_submit{
                clear: both;
				padding-top: 20px;
                .user_signin_form_submit{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
        
        .user_signin_or{
            font-size: 16px;
            color: #444;
            text-align: center;
            padding-top: 10px;
            a {
                overflow: hidden;
            }
            
            a:after {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-right: -45%;
                margin-left: 10px;
                border-top: 1px solid #dfe1e5;
            }

            a:before {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-left: -45%;
                margin-right: 10px;
                border-top: 1px solid #dfe1e5;
            }
        }
    
        .user_signin_form_right{
			display: block;
            margin-top: 10px;
            .login_with_google{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 10px;
                    background: #fff;
                    border: 2px solid #ea4537;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #ea4537;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        margin-right: 10px;
                        color: #ea4537;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #ea4537;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_facebook{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    background: #fff;
                    border: 2px solid #0c87ee;
                    font-size: 16px;
                    // border: none;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #0c87ee;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        margin-right: 5px;
                        color: #0c87ee;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    
                    &:hover{
                        background-color: #1877f2;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_phone{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    background: #fff;
                    font-size: 16px;
                    border: 1px solid #444;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #444;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        margin-right: 8px;
                        color: #444;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #444;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
    
        .user_signin_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #1877f2;
            }
        }
    }
}

//////////////////user change pass////////////////////
.user_change_pass_password{
    min-height: 700px;
    padding-top: 30px;
    .user_reset_pass_content{
        padding-top: 10px;
       .user_reset_pass_label{
            font-weight: 550;
            font-size: 16px;
            color: #555;
            text-align: left;   
           .user_reset_pass_label_name{

           }
        }
        .user_reset_pass_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
            .form-control{
                width: 100%;
                height: 50px;
                border: 1px solid #dfe1e5;
                border-radius: 3px;
                &:focus{
                    border: 2px solid #1877f2;
                    border-radius: 3px;
                }
            }
        } 
    }
    .user_reset_pass_submit{
        .user_reset_form_submit{
            width: 100%;
            @media screen and (min-width: 600px)
            {
                width: 300px;
            }
            height: 50px;
            border-radius: 3px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            &:hover{
                background-color: #369;
            }
        }
    }

    .user_reset_pass_loginhere{
        padding-top: 20px;
        a{
            color: #1877f2;
        }
    }
}

//////////////////user password////////////////////
.user_reset_password{
    min-height: 700px;
    padding-top: 30px;
    .user_reset_pass_content{
        padding-top: 10px;
       .user_reset_pass_label{
            font-weight: 550;
            font-size: 16px;
            color: #555;
            text-align: left;   
           .user_reset_pass_label_name{

           }
        }
        .user_reset_pass_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
            .form-control{
                width: 100%;
                height: 50px;
                border: 1px solid #dfe1e5;
                border-radius: 3px;
                &:focus{
                    border: 2px solid #1877f2;
                    border-radius: 3px;
                }
            }
        } 
    }
    .user_reset_pass_submit{
        .user_reset_form_submit{
            width: 100%;
            @media screen and (min-width: 600px)
            {
                width: 300px;
            }
            height: 50px;
            border-radius: 3px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            &:hover{
                background-color: #369;
            }
        }
    }

    .user_reset_pass_loginhere{
        a{
            color: #1877f2;
        }
    }
}