// Place all the styles related to the UserNotifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
///////////////////////////index//////////////////////////////
.user_notification_block{
    border: 1px solid #dddddd;
    @media screen and (max-width: 600px){
        border: none;
        border-radius: 0px;
    }
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    .user_notification_left{  
        float: left;
        .user_notification_date{
            a{
                font-size: 14px;
                font-style: italic;
                color: #536471;
            }
        }
    }
    .user_notification_right{
        padding-left: 100px;
        .user_notification_user{
            float: left;
            a{
                font-size: 14px;
                font-style: italic;
            }
            span{
                margin-left: 3px;
                margin-right: 5px;
                font-size: 13px;
                font-style: italic;
                color: #536471;
            }
        }
        .user_notification_title{
            a{
                font-size: 14px;
                word-break: break-word; 
            }
        }
        .user_notification_content{
            margin-top: 10px;
            a{
                font-size: 14px;
                word-break: break-word; 
            }
        }
    }
}