<% content_for :meta_robots, "all" %>
<% content_for :meta_title, "Tất cả danh mục" %>

<div class='category_index_container'>
	<div class='container'>
		<div class='category_index_new'>
			<%= button_to new_topic_path, method: :get do%>
                <i><%= bootstrap_icon "plus", width: 20, height: 20%></i>
				<a>Thêm chủ đề mới</a>
            <%end%>
		</div>
		<%@categories.each do |category|%>
			<div class='category_index_render'>
				<%= render category%>
			</div>
		<%end%>
	</div>
</div>