<% content_for :meta_robots, "all" %>
<% content_for :meta_title, @category.name %>

<div class='category_show_block'>
    <div class='container'>
        <div class='category_show_name'>
            <a><%= (@category.name)%></a>
            <span> · <%= @category.topics.count %> chủ đề</span>
        </div>

        <div class='category_show_topic'>
            <div class='row'>
                <%@category.topics.each do |topic|%>
                    <div class='col-sm-3 col-nopadding'>
                        <%= render :partial => 'topics/topic', :locals => {:mini_tyle => false}, :object => topic %>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>